@model IEnumerable<bookfortable.Models.Question>

@{
    ViewData["Title"] = "List";
}
<style>
    .link-edit {
        color: forestgreen;
    }

    .link-delete {
        color: red;
    }

    .search {
        display: flex;
        /* align-items:center; */
    }
</style>

<h1>問題</h1>
@using (Html.BeginForm())
{
      <div class="d-flex">
        <div class="me-auto">
            <a asp-action="Create" class="btn btn-outline-success">新增問題</a>
        </div>
        <div class="search">

            @*  關鍵字 @Html.TextBox("txtKeyword") *@
            <label class="my-auto">關鍵字<input type="text" id="txtKeyword" name="txtkeyword" /></label>
            <input type="submit" value="查詢" class=" btn btn-primary mx-2" />

        </div>


    </div>
}

<p>

</p>
<table class="table table-striped">
    <thead>
        <tr>
          @*   <th>
                @Html.DisplayNameFor(model => model.QuestionId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.QuestionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionName)
                    </td>
                    <td style="text-align:right">

                        <a asp-action="Edit" asp-controller="Question" asp-route-id="@item.QuestionId" class="link-edit btn btn-outline-success"><i class="fas fa-pen"></i></a>
                        <a asp-action="Delete" asp-controller="Question" asp-route-id="@item.QuestionId" class="link-delete btn btn-outline-danger" onclick="return confirm('確定要刪除嗎?')"><i class="fas fa-trash"></i></a>
                        @*  @Html.ActionLink("修改", "Edit", "BookTag", new { id = item.BtagId },null)
                @Html.ActionLink("刪除", "Delete", "BookTag", new { id = item.BtagId },
                new { onclick = "return confirm('確定要刪除嗎?')" }) *@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
