@using Bookfortable.Models.CLoginDictionary
@{
    ViewData["Title"] = "Login";
    Layout = "_FrontLayout";
}

<div class="bg-primary">
    <div class="container w-50 p-5">
        <div class="p-5 flex-column row justify-content-center align-items-center border border-10 rounded-lg" style="background-color: rgba(245, 245, 245, 0.7)" >
            <h2>會員登入</h2>

            @*哦 可以欸*@
            @if(string.IsNullOrEmpty(Context.Session.GetString(CLoginDictionary.SK_LOGINGED_USER))){

            }

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <hr />
                    <h5>請輸入帳號與密碼</h5>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        帳號
                        <div class="col-md-10">
                            @Html.TextBox("textAccount", "", new { htmlAttributes = new { @class = "from-control" , @placeholder = "輸入帳號或email"} })
                        </div>
                    </div>
                    <div class="form-group">
                        密碼
                        <div class="col-md-10">
                            @Html.TextBox("textPassword", "", new { htmlAttributes = new { @class = "from-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-0 vol-md-10 row justify-content-center">
                            <input type="submit" value="登入" class="btn btn-primary mr-3" />
                            @* @Html.ActionLink("取消", "List", new { @class = "btn btn-danger" }) *@
                            <a class="btn btn-secondary ml-3" asp-action="Index" asp-controller="Home">取消</a>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>
