@model IEnumerable<Bookfortable.ViewModels.BlogViewModel>

@{
    Layout = "_FrontLayout";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet" />

<style>
    /* 自定义样式 */
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }

    /*     .truncated-text {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            } */

    .dashed-line {
        border: none;
        border-top: 1px dashed black;
        margin: 50px 0;
    }

    .card-title {
        font-weight: bold;
        font-size: 1.5rem;
    }

    .card-text {
    }


</style>

<div style="margin-left: 10%; margin-right: 10%">

    <div class="container" style="margin-bottom: 5%; margin-top: 5%">
        <!-- 大标题 -->
        <div class="row">
            <div class="col text-center">
                <h1 class="big-title">Stay Curious 書服書單</h1>
            </div>
        </div>
        <!-- 副标题 -->
        <div class="row mb-4">
            <div class="col text-center">
                <p class="lead">每月為您精選閱讀趨勢</p>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <div class="row mb-4">
        <div class="col-md-6">
            <img src="../images/0001.png" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="card card border-0">
                <div class="card-body">
                    <h5 class="card-title">擊退空虛寂寞凍！孤獨也平安書單</h5>
                    <p class="card-text truncated-text">
                        聖誕佳節，望見街裡愛人一對對，為此誠意向各位推薦以下書單，以書相伴，一個人過聖誕都不怕空虛寂寞凍，反正每個人到最後都會孤獨，倒不如趁聖誕連假多讀點書，就算只有一個人，都要善待自己，好好活著。
                    </p>
                    <p class="card-text"><a style="background-color: lightgoldenrodyellow">#愛情</a> <a style="background-color: lightgoldenrodyellow;">#療育</a> <a style="background-color: lightgoldenrodyellow;">#社會科學</a></p>

                    <small class="text-body-secondary">更新日期：2023.12.24</small>
                    <p class="text-end"><a href="/Showlist/Details?id=1" class="text-decoration-none" style="color: #999">(... 閱讀更多)</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr class="dashed-line">

    <div class="row mb-4">
        <div class="col-md-6">
            <img src="../images/0002.png" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="card card border-0">
                <div class="card-body">
                    <h5 class="card-title">各區獨立書店　推末日企劃共組「最終の本」書單</h5>
                    <p class="card-text truncated-text">透過各間獨立書店分享的「最終の本」，集結組成衆多愛書之人的末日書單，per se 期望可引發讀者對這個主題的進一步思考。關於末日，關於未知，在理性與靈性之間，在恐懼與信念之間，每個人都可有不同想像。</p>
                    <p class="card-text"><a style="background-color: lightgoldenrodyellow">#靈性</a> <a style="background-color: lightgoldenrodyellow;">#人氣排行</a></p>
                    <small class="text-body-secondary">更新日期：2024.1.28</small>
                    <p class="text-end"><a href="/Showlist/Details?id=2" class="text-decoration-none" style="color: #999">(... 閱讀更多)</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr class="dashed-line">

    <div class="row mb-4">
        <div class="col-md-6">
            <img src="../images/0003.png" class="img-fluid">
        </div>
        <div class="col-md-6">
            <div class="card card border-0">
                <div class="card-body">
                    <h5 class="card-title" >2024年重點文藝書籍</h5>
                    <p class="card-text truncated-text">
                        要將每篇文章集結成書，一點一滴，統統都是功夫的累積，尤其經歷近年社會環境的改變，來自四方八面的不可抗力，更令每本書的出版變得絲毫不簡單。精選年度重點文藝書籍，羅列2024年值得一看再看的佳作，
                    </p>
                    <p class="card-text"><a style="background-color: lightgoldenrodyellow">#文藝</a> <a style="background-color: lightgoldenrodyellow;"> #社會變遷</a></p>
                    <small class="text-body-secondary">更新日期：2024.01.01</small>
                    <p class="text-end"><a href="/Showlist/Details?id=3" class="text-decoration-none" style="color: #999">(... 閱讀更多)</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr class="dashed-line">





@*         @foreach (var item in Model)
    {
    <div class="row mb-4">
    <div class="col-md-6">
    <img src="@item.BlogImage?.ImagePath" alt="@item.Blog.BlogTitle" class="img-fluid">
    </div>
    <div class="col-md-6">
    <div class="card">
    <div class="card-body">
    <h5 class="card-title">@item.Blog.BlogTitle</h5>
    <p class="card-text truncated-text">@item.Blog.BlogDescription</p>
    <p class="card-text">Hashtag: @item.Blog.Hashtag</p>
    <a href="@Url.Action("Details", new { id = item.Blog.BlogId })" class="btn btn-primary">Read more</a>
    </div>
    </div>
    </div>
    </div>
    <hr class="dashed-line">
    } *@

    <!-- 引用 Bootstrap JavaScript -->
    @*     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script> *@
</div>


@* <script>
    // 确保文本超过100个字符时将其截断并添加省略号
    document.addEventListener("DOMContentLoaded", function () {
        var elements = document.querySelectorAll('.truncated-text');
        elements.forEach(function (element) {
            if (element.textContent.length >= 100) {
                element.textContent = element.textContent.substring(0, 100) + '...';
            }
        });
    });
</script> *@
