@model X.PagedList.IPagedList<Bookfortable.Models.Product>
@using X.PagedList.Mvc.Core;

@{
    ViewBag.Title = "List";
}

<style>


    h1 {
        margin-top: 40px; /* 上邊距 */
        margin-bottom: 20px; /* 下邊距 */
        margin-left: 10px; /* 左邊距 */
        margin-right: 40px; /* 右邊距 */
    }
    /* 調整表格欄位寬度 */
    table {
        width: 80%;
    }

    th, td {
        padding: 8px; /* 添加填充 */
    }

        /* 調整每個欄位的寬度 */
        th:nth-child(1), td:nth-child(1) {
            width: 10%;
        }

        th:nth-child(2), td:nth-child(2) {
            width: 25%;
        }

        th:nth-child(3), td:nth-child(3) {
            width: 15%;
        }

        th:nth-child(4), td:nth-child(4) {
            width: 15%;
        }

        th:nth-child(5), td:nth-child(5) {
            width: 20%;
        }

        th:nth-child(6), td:nth-child(6) {
            width: 15%;
        }


    .details {
        padding: 10px;
        margin-top: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .pagination .page-link {
        color: #656D74;
    }

</style>


<h1>書籍資料一覽</h1>

@* 麵包屑 *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">總覽</a></li>
        <li class="breadcrumb-item active" aria-current="page">書籍資料一覽</li>
    </ol>
</nav>


@* 這是關鍵字查詢+顯示筆數 *@
<div class="container">
    <div class="row" style="margin-top:1.5rem">
        <div class="col-12">
            @using (Html.BeginForm(new { page = 1 }))
            {
                @: 關鍵字 @Html.TextBox("txtKeyword")
                <input type="submit" value="查詢" />
                <a asp-action="ClearSearch">清空查詢</a>
            }

            @{
                int totalCount = ViewBag.TotalCount;
                int totalRecordsCount = ViewBag.TotalRecordsCount;
                if (totalCount > 0 && totalCount != totalRecordsCount)
                {
                    <h6 style="color: red; margin-top: 20px;">查詢結果：共 @totalCount 筆相關資料</h6>
                }
                else if (totalCount == 0)
                {
                    <h6 style="color: red; margin-top: 20px;">你查詢的資料沒有相關結果</h6>
                }
            }
        </div>
    </div>
</div>


@* 這是分頁資料+新增書籍的按鈕 *@
<div class="container">
    <div class="row" style="margin-top:2rem ">
        <div class="col-md-6 ">
            <div class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination ">
                        @if (Model.HasPreviousPage)
                        {
                            <li class="page-item ">
                                <a class="page-link" href="@Url.Action("List", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <span class="page-link">&laquo;</span>
                            </li>
                        }

                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                <a class="page-link" href="@Url.Action("List", new { page = i })">@i</a>
                            </li>
                        }

                        @if (Model.HasNextPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("List", new { page = Model.PageNumber + 1 })" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item disabled">
                                <span class="page-link">&raquo;</span>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <a asp-action="Create" class="btn btn-secondary">＋新增書籍資料</a>
        </div>
    </div>
</div>

@* 這是表格內容 *@
<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                書籍名稱
            </th>
            <th>
                出版社
            </th>
            <th>
                版本資訊
            </th>
            <th>
                書籍介紹
            </th>
            <th>
                資料編輯
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VersionInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        <button type="button" class="btn btn-dark btn-sm" onclick="location.href='@Url.Action("Edit", new { id = item.ProductId })'">編 輯</button>
                        <button type="button" class="btn btn-warning btn-sm " onclick="confirmDelete('@item.ProductId')">刪 除</button>

                        <button class="btn btn-info btn-sm" style="margin-top:10px ;" onclick="toggleDetails(this)">◥ 顯示詳細資料</button>
                        <div id="versionInfo" style="display: none;"></div>
                    </td>
                </tr>

                <tr id="detailsRow" style="display: none;">
                    <td colspan="6">
                        <div class="row">
                            <div class="col-md-8">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>單價</td>
                                            <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
                                        </tr>
                                        <tr>
                                            <td>庫存量</td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UnitsInStock) &nbsp;
                                                @if (item.UnitsInStock < 5)
                                                {
                                                    <span class="badge rounded-pill bg-warning text-light">庫存量不足</span>
                                                }
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>售價</td>
                                            <td>@Html.DisplayFor(modelItem => item.SellingPrice)</td>
                                        </tr>
                                        <tr>
                                            <td>國際索書號</td>
                                            <td>@Html.DisplayFor(modelItem => item.Isbn)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>封面照片</td>
                                            <td><img src="~/images/@item.ProductPhoto" width="150" height="167" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>

                // <div class="details" style="display: none">
                //     @{
                //         ViewData["Title"] = "Create";
                //     }
                // </div>
            }
        }
    </tbody>
</table>

<script>
    function confirmDelete(productId) {
        if (confirm('確定要刪除嗎？')) {
            location.href = '@Url.Action("Delete", "Product")?id=' + productId;
        }
    }
    function toggleDetails(button) {
        var versionInfoRow = button.parentNode.parentNode.nextElementSibling;
        if (versionInfoRow.style.display === 'none') {
            versionInfoRow.style.display = 'table-row'; // 顯示詳細資料行
            button.textContent = '◣ 隱藏詳細資料'; // 修改按鈕文字
        } else {
            versionInfoRow.style.display = 'none'; // 隱藏詳細資料行
            button.textContent = '◥ 顯示詳細資料'; // 修改按鈕文字
        }
    }
</script>