@model IEnumerable<bookfortable.Models.WishList>

@{
    ViewData["Title"] = "List";
}

<h1>願望清單總覽</h1>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" />
}
<p>
    <a asp-action="Create" class="btn btn-outline-primary">新增願望清單</a>
</p>
<style>
    .fixed-width {
        width: 140px; 
    }

</style>
<table class="table table-hover" border="1">
    <thead style="background-color:#6F8E74">
        <tr>
            <th>
                序
            </th>
            <th>
                產品名稱
            </th>
            <th>
                產品圖片
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th> *@
            <th>
                產品描述
            </th>
            <th>
                期望價格
            </th>
            <th>
                地址
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th> *@
            <th>
                建立日期
            </th>
            <th>
                備註
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0 ;
            foreach
            (var item in Model) 
            {
                count++;
        <tr>
            <td>
                @count
            </td>
                    <td class="fixed-width">
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                <img src="~/images/@item.ProductImage" width="90" height="140" />
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductDescribe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WishPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", "WishList", new { id = item.WishListId }, new { @class = "btn btn-outline-success" })
                @Html.ActionLink("刪除", "Delete", "WishList", new { id = item.WishListId },
                             new { onclick = "return confirm('確定要刪除嗎?')" , @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }
}
    </tbody>
</table>
