@model Bookfortable.Models.Event
@{
    Layout = "_FrontLayout";
}
<link rel="stylesheet" href="~/css/Eventindex.css" type="text/css" />
<!DOCTYPE html>
<html lang="en">
<head>

    <div class="eventHeader">
        <h1 class="title">書服-活動列表</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">首頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List", "Eventfront")">活動列表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ContactUs", "Eventfront")">聯絡我們</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="@Url.Action("AboutUs", "Eventfront")">關於我們</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Fans", "Eventfront")">月月寵粉</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Donate", "Eventfront")">公益捐書</a>
        </li>
        </ul>
    </div>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>取消報名成功</title>
    <!-- 如果有需要，可以在這裡添加其他樣式或腳本 -->
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-body">
                        <h3 class="text-center">取消報名成功</h3>
                        <p class="text-center">您已成功取消報名該活動。</p>
                        <!-- 如果有需要，可以在這裡添加其他顯示信息或按鈕 -->
                        <div class="text-center">
                            <a href="@Url.Action("List", "Eventfront")" class="btn btn-primary">返回首頁</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

