@model IEnumerable<bookfortable.Models.TempBox>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookTag2string)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTag2string)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BoxId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BoxId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BoxId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
