@model bookfortable.ViewModels.BlogViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.BlogTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.BlogTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.BlogDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.BlogDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Hashtag)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Hashtag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.DateCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.DateCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Blog.BlogId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    @if (!string.IsNullOrEmpty(Model.BlogImage?.ImagePath))
    {
        <img src="@Model.BlogImage.ImagePath" alt="Blog Image" style="max-width: 100px;" />
    }
    else
    {
        <span>No Image</span>
    }
</div>
