@model IEnumerable<bookfortable.ViewModels.BlogViewModel>

@{
    ViewData["Title"] = "Index";
}

<style>


    h1 {
        margin-top: 40px; /* 上邊距 */
        margin-bottom: 20px; /* 下邊距 */
        margin-left: 10px; /* 左邊距 */
        margin-right: 40px; /* 右邊距 */
    }
    /* 調整表格欄位寬度 */
    table {
        width: 80%;
    }

    th, td {
        padding: 8px; /* 添加填充 */
    }

        /* 調整每個欄位的寬度 */
        th:nth-child(1), td:nth-child(1) {
            width: 10%;
        }

        th:nth-child(2), td:nth-child(2) {
            width: 30%;
        }

        th:nth-child(3), td:nth-child(3) {
            width: 15%;
        }

        th:nth-child(4), td:nth-child(4) {
            width: 15%;
        }

        th:nth-child(5), td:nth-child(5) {
            width: 15%;
        }

        th:nth-child(6), td:nth-child(6) {
            width: 15%;
        }


    .details {
        padding: 10px;
        margin-top: 10px;
        background-color: #f9f9f9;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .pagination .page-link {
        color: #656D74;
    }

</style>


<h1>文章列表</h1>

@* 麵包屑 *@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">總覽</a></li>
        <li class="breadcrumb-item active" aria-current="page">文章列表</li>
    </ol>
</nav>

@* 關鍵字查詢要做嗎 *@

@* 這是分頁資料+新增書籍的按鈕 *@
<div class="container">
    <div class="row" style="margin-top:2rem ">
        <div class="col-md-6 ">
            <div class="text-center">
                <nav aria-label="Page navigation">
                    @*                     <ul class="pagination ">
                    @if (Model.HasPreviousPage)
                    {
                    <li class="page-item ">
                    <a class="page-link" href="@Url.Action("List", new { page = Model.PageNumber - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                    </a>
                    </li>
                    }
                    else
                    {
                    <li class="page-item disabled">
                    <span class="page-link">&laquo;</span>
                    </li>
                    }

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                    <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                    <a class="page-link" href="@Url.Action("List", new { page = i })">@i</a>
                    </li>
                    }

                    @if (Model.HasNextPage)
                    {
                    <li class="page-item">
                    <a class="page-link" href="@Url.Action("List", new { page = Model.PageNumber + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                    </a>
                    </li>
                    }
                    else
                    {
                    <li class="page-item disabled">
                    <span class="page-link">&raquo;</span>
                    </li>
                    }
                    </ul> *@
                </nav>
            </div>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <a asp-action="Create" class="btn btn-secondary">＋新增書單文章</a>
        </div>
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                序號
            </th>
            <th>
                文章標題
            </th>
            @*             <th>
            文章內容
            </th> *@
            <th>
                Hashtag
            </th>
            <th>
                發布日期
            </th>
            <th>
                封面縮圖
            </th>
            <th>資料編輯</th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @count
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Blog.BlogTitle)
                    </td>
                    @*                 <td>
            @Html.DisplayFor(modelItem => item.Blog.BlogDescription)
            </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Blog.Hashtag)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Blog.DateCreated)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.BlogImage?.ImagePath))
                        {
                            <img src="@item.BlogImage.ImagePath" alt="Blog Image" style="max-width: 100px;" />
                        }
                        else
                        {
                            <span>No Image</span>
                        }
                    </td>


                    <td>
                        <button type="button" class="btn btn-dark btn-sm" onclick="location.href='@Url.Action("Edit", new { id = item.Blog.BlogId })'">編 輯</button>
                        <button type="button" class="btn btn-warning btn-sm " onclick="confirmDelete('@item.Blog.BlogId')">刪 除</button>
                        <button class="btn btn-info btn-sm" style="margin-top:10px ;" onclick="toggleDetails(this)">◥ 顯示文章內容</button>
                        <div id="versionInfo" style="display: none;"></div>
                    </td>
                </tr>

                <tr id="detailsRow" style="display: none;">
                    <td colspan="6">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Blog.BlogDescription)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>

            }
        }
    </tbody>
</table>

<script>
    function confirmDelete(blogId) {
        if (confirm('確定要刪除嗎？')) {
            location.href = '/Blog/Delete?id=' + blogId;
        }
    }
    function toggleDetails(button) {
        var versionInfoRow = button.parentNode.parentNode.nextElementSibling;
        if (versionInfoRow.style.display === 'none') {
            versionInfoRow.style.display = 'table-row'; // 顯示詳細資料行
            button.textContent = '◣ 隱藏文章內容'; // 修改按鈕文字
        } else {
            versionInfoRow.style.display = 'none'; // 隱藏詳細資料行
            button.textContent = '◥ 顯示文章內容'; // 修改按鈕文字
        }
    }
</script>
