@model IEnumerable<bookfortable.Models.DiscountCodeCart>

@{
    ViewData["Title"] = "折扣碼";
}
@section Styles{
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <style>
        .str1 {
            margin-left: 30px;
            margin-top: 10px;
        }
    </style>
}

<div class="str1">
    <h1>折扣碼一覽表</h1>
</div>


<div class="str1">
    <a asp-action="Create">新增折扣碼</a>
</div>

<div class="str1">
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" />
}
</div>
<br />
<div class="str1">
    <table class="display animated--fade-in" id="Listajax">
        <thead thead class="badge-brown-3">
        <tr>
            <th>
                序號
            </th>
            <th>
                折扣代碼
                @* @Html.DisplayNameFor(model => model.DiscountCode) *@
            </th>
            <th>
                類型
                @* @Html.DisplayNameFor(model => model.DiscountType) *@
            </th>
            <th>
                起迄時間
                @* @Html.DisplayNameFor(model => model.DiscountStart) *@
            </th>
            <th>
                結束時間
                @* @Html.DisplayNameFor(model => model.DiscountEnd) *@
            </th>
            <th>
                會員專屬
                @* @Html.DisplayNameFor(model => model.IsMemberDiscount) *@
            </th>
            <th>
                業配
                @* @Html.DisplayNameFor(model => model.IsPartnerDiscount) *@
            </th>
            <th>
                合作夥伴
                @* @Html.DisplayNameFor(model => model.PartnerName) *@
            </th>
            <th>
                聯絡人
                @* @Html.DisplayNameFor(model => model.PartnerManager) *@
            </th>
            <th>
                聯絡人電郵
                @* @Html.DisplayNameFor(model => model.PartnerManagerEmail) *@
            </th>
            <th>
                聯絡人電話
                @* @Html.DisplayNameFor(model => model.PartnerManagerPhone) *@
            </th>
            <th>
                狀態
                @* @Html.DisplayNameFor(model => model.IsActivate) *@
            </th>
            <th>
                折扣價格
                @* @Html.DisplayNameFor(model => model.DiscountPrice) *@
            </th>
            <th>
                備註
                @* @Html.DisplayNameFor(model => model.DiscountNote) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsMemberDiscount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsPartnerDiscount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartnerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartnerManager)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartnerManagerEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartnerManagerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActivate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountNote)
                        </td>
                        <td>
                            @Html.ActionLink("修改", "Edit", "DiscountCodeCarts", new { id = item.DiscountId }, null)
                            @Html.ActionLink("刪除", "Delete", "DiscountCodeCarts", new { id = item.DiscountId }, new { onclick = "return confirm('確定要刪除嗎?')" })
                        </td>
                    </tr>
            }

}
    </tbody>
</table>
</div>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {
            $('.accordion-header').on('click', function () {
                //重設所有header跟content的狀態
                //判斷當點擊的header沒有active的樣式時才執行
                if (!$(this).hasClass("active")) {
                    $('.accordion-content').slideUp();
                }

                $('.accordion-header').removeClass("active")
                $(this).toggleClass("active");
                $(this).siblings().slideToggle();
            })
            $('.accordion-header').first().click();
        })


    </script>
    <script>
        new DataTable('#Listajax', {
            dom: 'Bfrtip',
            scrollX: true,

            buttons: [
                {
                    extend: 'colvis',
                    collectionLayout: 'fixed columns',
                    collectionTitle: '欄位顯示設定',
                    columnText: function (dt, idx, title) {
                        return (idx + 1) + ': ' + title;
                    },
                    postfixButtons: ['colvisRestore']
                }
            ]
        }
    </script>
}
