@model IEnumerable<Bookfortable.Models.DiscountCodeCart>

@{
    ViewData["Title"] = "折扣碼";
}
@section Styles{
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/6da9884828.js" crossorigin="anonymous"></script>
    <style>
        .str1 {
            margin-top: 10px;
            margin-bottom:10px;
        }
    </style>
}

<h1 class="str1" style="color:darkolivegreen; font-weight:bolder; letter-spacing:0.18em;">折扣碼一覽表</h1>
<a type="button" asp-action="Create" class="btn btn-green-3 str1">新增折扣碼</a>


<br />
<div class="str1">
    <table class="display animated--fade-in" id="Listajax">
        <thead class="badge-green-3">
        <tr>
            <th>
                序
            </th>
            <th>
                折扣代碼
                @* @Html.DisplayNameFor(model => model.DiscountCode) *@
            </th>
            <th>
                類型
                @* @Html.DisplayNameFor(model => model.DiscountType) *@
            </th>
            <th>
                起迄時間
                @* @Html.DisplayNameFor(model => model.DiscountStart) *@
            </th>
            <th>
                結束時間
                @* @Html.DisplayNameFor(model => model.DiscountEnd) *@
            </th>
            <th>
                會員專屬
                @* @Html.DisplayNameFor(model => model.IsMemberDiscount) *@
            </th>
            <th>
                狀態
                @* @Html.DisplayNameFor(model => model.IsActivate) *@
            </th>
            <th>
                折扣價格
                @* @Html.DisplayNameFor(model => model.DiscountPrice) *@
            </th>
            <th>
                合作夥伴
                @* @Html.DisplayNameFor(model => model.PartnerName) *@
            </th>
            <th>
                聯絡人
                @* @Html.DisplayNameFor(model => model.PartnerManager) *@
            </th>
            <th>
                聯絡人電郵
                @* @Html.DisplayNameFor(model => model.PartnerManagerEmail) *@
            </th>
            <th>
                聯絡人電話
                @* @Html.DisplayNameFor(model => model.PartnerManagerPhone) *@
            </th>
            <th>
                備註
                @* @Html.DisplayNameFor(model => model.DiscountNote) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model)
            {
                count++;
                    <tr>
                        <td>
                            @count
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountEnd)
                        </td>
                        <td>
                            @{
                                if (item.IsMemberDiscount == true)
                                {
                                    <text>是</text>
                                }
                                else
                                {
                                    <text>否</text>
                                }
                            }
                        </td>
                        <td>
                            @{
                                if (item.IsActivate == true)
                                {
                                    <text>啟用</text>
                                }
                                else
                                {
                                    <text>終止</text>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartnerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartnerManager)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartnerManagerEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PartnerManagerPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscountNote)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-controller="DiscountCodeCarts" asp-route-id="@item.DiscountId" class="btn btn-outline-green-2"><i class="fa-regular fa-pen-to-square"></i></a>
                            <a asp-action="Delete" asp-controller="DiscountCodeCarts" asp-route-id="@item.DiscountId" class="btn btn-outline-danger" onclick="return confirm('確定要刪除嗎?')"><i class="fa-solid fa-trash-can"></i></a>
                            @*@Html.ActionLink("修改", "Edit", "DiscountCodeCarts", new { id = item.DiscountId }, null)
                    @Html.ActionLink("刪除", "Delete", "DiscountCodeCarts", new { id = item.DiscountId }, new { onclick = "return confirm('確定要刪除嗎?')" })*@
                        </td>
                    </tr>
            }

}
    </tbody>
</table>
</div>
@section Scripts{
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
    <script>
        new DataTable('#Listajax', {
            dom: 'Bfrtip',
            "searching": true,

            buttons: [
                {
                    extend: 'colvis',
                    collectionLayout: 'fixed columns',
                    collectionTitle: '類型搜尋',
                    columnText: function (dt, idx, title) {
                        return (idx + 1) + ': ' + title;
                    },
                    postfixButtons: ['colvisRestore']
                }
            ]
        });
    </script>
}
