@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Bookfortable.Models.CLoginDictionary
@model Bookfortable.Models.CMemberWrap

@{
    ViewData["Title"] = "Login";
    Layout = "_FrontLayout";

    string json = CLoginDictionary.getJson(CLoginDictionary.SK_LOGINGED_USER, Context);
    Member mbr = CLoginDictionary.mDeseliaze(json);
}
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-2 h-100">
            <nav class="navbar navbar-dark bg-dark vh-100 d-flex flex-column justify-content-start align-content-start">
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <a asp-action="Index" asp-controller="MemberCenter" class="btn btn-outline-light btn-block text-left active">個人資料</a>
                    </li>
                    <li class="nav-item w-100">
                        <a asp-action="Orders" asp-controller="MemberCenter" asp-route-id="@mbr.MemberId" class="btn btn-outline-light btn-block text-left">歷史訂單</a>
                    </li>
                    <li class="nav-item w-100">
                        <a asp-action="WishList" asp-controller="MemberCenter" asp-route-id="@mbr.MemberId" class="btn btn-outline-light btn-block text-left">願望清單</a>
                    </li>
                    <li class="nav-item w-100">
                        <a asp-action="Events" asp-controller="MemberCenter" asp-route-id="@mbr.MemberId" class="btn btn-outline-light btn-block text-left">已報名活動</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            <div class="bg-secondary vh-100">
                <div class="container-fluid p-5">
                    <h2>會員中心</h2>
                    <div class="container w-100">
                        <div class="mt-2 p-3 flex-column border border-10 rounded-lg" style="background-color: rgba(245, 245, 245, 0.7)">
                            <div class="d-flex align-items-center">
                                <div style="width:100px; height:100px">
                                    <img id="profileImage" src="@(mbr.MFilepic != null ? $"data:image;base64,{Convert.ToBase64String(mbr.MFilepic)}" : "#")" class="img-fluid rounded-circle img-thumbnail" alt="大頭貼" />
                                </div>
                                <label for="fileInput" class="btn btn-sm btn-primary ml-3">選擇大頭貼</label>
                                <input asp-for="File" type="file" id="fileInput" class=" btn ml-3" accept="image/png image/jpg" style="display: none;" />
                            </div>
                            
                            <label class="lead">@mbr.MName</label><br />
                            <label class="">帳號：@mbr.MAccount</label><br />
                            <label>密碼：@mbr.MPassword</label><br />
                            <label>信箱：@mbr.MMail</label>
                            <a asp-action="Edit" asp-route-id="@mbr.MemberId" class="text-dark btn btn-outline-success"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#fileInput').change(function () {
            var selectedFile = event.target.files[0];
            var reader = new FileReader();

            reader.onload = function (e) {
                var imgElement = document.getElementById('profileImage');
                imgElement.src = e.target.result;
            };

            if (selectedFile) {
                reader.readAsDataURL(selectedFile);
            }
        });
    });
</script>