@using Bookfortable.Models.CLoginDictionary
@model IEnumerable<Bookfortable.Models.WishList>

@{
    ViewData["Title"] = "WishList";
    Layout = "_FrontLayout";
    string json = CLoginDictionary.getJson(CLoginDictionary.SK_LOGINGED_USER, Context);
    Member mbr = CLoginDictionary.mDeseliaze(json);
}

<h1>WishList</h1>
<div class="container-fluid">
    <div class="row no-gutters">
        <div class="col-md-2 h-100">
            <nav class="navbar navbar-dark bg-dark vh-100 d-flex flex-column justify-content-start align-content-start">
                <ul class="navbar-nav w-100">
                    <li class="nav-item w-100">
                        <a asp-action="Index" asp-controller="MemberCenter" class="btn btn-outline-light btn-block text-left">個人資料</a>
                    </li>
                    <li class="nav-item w-100">
                        <a asp-action="Orders" asp-controller="MemberCenter" asp-route-id="@mbr.MemberId" class="btn btn-outline-light btn-block text-left">歷史訂單</a>
                    </li>
                    <li class="nav-item w-100">
                        <a asp-action="WishList" asp-controller="MemberCenter" asp-route-id="@mbr.MemberId" class="btn btn-outline-light btn-block text-left active">願望清單</a>
                    </li>
                    <li class="nav-item w-100">
                        <a asp-action="Events" asp-controller="MemberCenter" asp-route-id="@mbr.MemberId" class="btn btn-outline-light btn-block text-left">已報名活動</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-10">
            <div class="bg-secondary vh-100">
                <div class="container-fluid p-5">
                    <h2>願望清單</h2>
                    <div class="container w-100">
                        <div class="mt-2 p-3 flex-column border border-10 rounded-lg" style="background-color: rgba(245, 245, 245, 0.7)">
                            <p>
                                @* <a asp-action="Create">Create New</a> *@
                            </p>
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WishListId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductImage)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ProductDescribe)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WishPrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Address)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MemberId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreationDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Remark)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WishListId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductImage)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ProductDescribe)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.WishPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Address)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MemberId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreationDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Remark)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

