@model bookfortable.Models.OrderList
@{
    // 从ViewBag中获取List
    List<Bookfortable.Models.CShoppingCartItem> cart = ViewBag.CartItem;
    var detail = ViewBag.OrderDetail as bookfortable.Models.OrderDetail;
    
}
@{
    ViewData["Title"] = "Checkout";
    Layout = "_FrontLayout";
}
@section Styles {
    <style>
        #cart-titile {
            text-align: center;
        }

            #cart-titile p {
                color: lightgray;
                font-size: 17px;
            }

        .b-part {
            letter-spacing: 7px;
        }

        .b-tight {
            letter-spacing: -1px;
        }

        #cart-titile .URhere {
            color: dimgray;
            font-weight: bolder;
        }
    </style>
}
<br />
<br />
<div id="cart-titile">
    <p>
        <a class="b-part">&emsp;購物車&emsp;</a>
        <a class="b-tight">―――――――――――――――――</a>
        <a class="b-part URhere">&emsp;訂單資料&emsp;</a>
        <a class="b-tight">―――――――――――――――――</a>
        <a class="b-part">&emsp;訂單完成&emsp;</a>
    </p>
</div>
<br />
<br />
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                <!--序號-->
            </th>

            <th colspan="2">
                盲盒內容
            </th>

            <th>
                <!--數量-->
                數量
            </th>
            <th>
                <!--單價-->
                單價
            </th>
            <th>
                <!--小計-->
                小計
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            decimal pay = 0;
            decimal shipping = 100;
            decimal sum = 0;
            decimal dcprice = 0;
            foreach (var item in cart)
            {
                count++;
                item.小計 = item.price * item.count;
                pay += item.小計;
                sum = pay;
                <tr>
                    <td>
                        <!--序號-->
                        @count
                    </td>
                    <td>
                        <!--盲盒內容圖片欄-->
                        <img src="@Url.Content("~/images/Tempbox_img/TempBox_img.jpg")" width="135" height="135" />
                        
                    </td>
                    <td>
                        <!--偏好兼修改-->
                        @Html.DisplayFor(modelItem => item.productType)
                    </td>
                    <td>
                        <!--數量-->
                        @Html.DisplayFor(modelItem => item.count)
                    </td>
                    <td>
                        <!--單價-->
                        @Html.DisplayFor(modelItem => item.price)
                    </td>
                    <td>
                        <!--小計-->
                        @Html.DisplayFor(modelItem => item.小計)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Checkout">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Oid" />
            <div class="form-group">
                <label asp-for="Oidramd" class="control-label"></label>
                <input asp-for="Oidramd" class="form-control" />
                <span asp-validation-for="Oidramd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetailId" class="control-label"></label>
                <select asp-for="OrderDetailId" class="form-control" asp-items="ViewBag.OrderDetailId"></select>
                <span asp-validation-for="OrderDetailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsMember" class="control-label"></label>
                <input asp-for="IsMember" class="form-control" />
                <span asp-validation-for="IsMember" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayDate" class="control-label"></label>
                <input asp-for="PayDate" class="form-control" />
                <span asp-validation-for="PayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPayed" class="control-label"></label>
                <input asp-for="IsPayed" class="form-control" />
                <span asp-validation-for="IsPayed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotal" class="control-label"></label>
                <input asp-for="OrderTotal" class="form-control" />
                <span asp-validation-for="OrderTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingTimeReq" class="control-label"></label>
                <input asp-for="ShippingTimeReq" class="form-control" />
                <span asp-validation-for="ShippingTimeReq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderState" class="control-label"></label>
                <input asp-for="OrderState" class="form-control" />
                <span asp-validation-for="OrderState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingMethod" class="control-label"></label>
                <input asp-for="ShippingMethod" class="form-control" />
                <span asp-validation-for="ShippingMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Is711Pay" class="control-label"></label>
                <input asp-for="Is711Pay" class="form-control" />
                <span asp-validation-for="Is711Pay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Store711" class="control-label"></label>
                <input asp-for="Store711" class="form-control" />
                <span asp-validation-for="Store711" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhone" class="control-label"></label>
                <input asp-for="CustomerPhone" class="form-control" />
                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerEmail" class="control-label"></label>
                <input asp-for="CustomerEmail" class="form-control" />
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAdd1" class="control-label"></label>
                <input asp-for="CustomerAdd1" class="form-control" />
                <span asp-validation-for="CustomerAdd1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAdd2" class="control-label"></label>
                <input asp-for="CustomerAdd2" class="form-control" />
                <span asp-validation-for="CustomerAdd2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAdd3" class="control-label"></label>
                <input asp-for="CustomerAdd3" class="form-control" />
                <span asp-validation-for="CustomerAdd3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingName" class="control-label"></label>
                <input asp-for="ShippingName" class="form-control" />
                <span asp-validation-for="ShippingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPhone" class="control-label"></label>
                <input asp-for="ShippingPhone" class="form-control" />
                <span asp-validation-for="ShippingPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAdd1" class="control-label"></label>
                <input asp-for="ShippingAdd1" class="form-control" />
                <span asp-validation-for="ShippingAdd1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAdd2" class="control-label"></label>
                <input asp-for="ShippingAdd2" class="form-control" />
                <span asp-validation-for="ShippingAdd2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAdd3" class="control-label"></label>
                <input asp-for="ShippingAdd3" class="form-control" />
                <span asp-validation-for="ShippingAdd3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phinvoice" class="control-label"></label>
                <input asp-for="Phinvoice" class="form-control" />
                <span asp-validation-for="Phinvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpinvoice" class="control-label"></label>
                <input asp-for="Cpinvoice" class="form-control" />
                <span asp-validation-for="Cpinvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cptitle" class="control-label"></label>
                <input asp-for="Cptitle" class="form-control" />
                <span asp-validation-for="Cptitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMethod" class="control-label"></label>
                <input asp-for="PayMethod" class="form-control" />
                <span asp-validation-for="PayMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountCode" class="control-label"></label>
                <input asp-for="DiscountCode" class="form-control" />
                <span asp-validation-for="DiscountCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrice" class="control-label"></label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingFeed" class="control-label"></label>
                <input asp-for="ShippingFeed" class="form-control" />
                <span asp-validation-for="ShippingFeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderListNote" class="control-label"></label>
                <input asp-for="OrderListNote" class="form-control" />
                <span asp-validation-for="OrderListNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

    </div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        活動名稱
                    </th>
                    <th>
                        活動日期
                    </th>
                    <th>
                        活動地址
                    </th>
                    <th>
                        活動圖示
                    </th>
                    <th>
                        活動類型
                    </th>
                    <th>
                        活動主辦人
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in cart)
                {
                    <tr>
                        <td>

                            @Html.DisplayFor(modelItem => item.product)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.productType)
                        </td>
                        <td>
                            @*                  <img src="~/images/@item.FIamgePath" width="200" height="250" />
                        *@
                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

