@model Bookfortable.Models.OrderList

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oidramd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oidramd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMember)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingTimeReq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingTimeReq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Is711Pay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Is711Pay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store711)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store711)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAdd1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAdd1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAdd2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAdd2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerAdd3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerAdd3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAdd1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAdd1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAdd2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAdd2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAdd3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAdd3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phinvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phinvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpinvoice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpinvoice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cptitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cptitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiscountPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingFeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingFeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderListNote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderListNote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.Odid)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Oid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
