@model IEnumerable<bookfortable.Models.OrderList>

@{
    ViewData["Title"] = "訂單管理";
}
@section Styles {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
    <style>
        details{
            width:90%;
            margin-right: 3%;
            margin-left: 3%;
            padding-top: 50px;
            padding-bottom: 50px;
            height: 80px;
        }
        summary{
            padding:10px;
            background-color:aliceblue;
            
        }
        .st-stong{
            font-size:large;
            font-weight:bolder;
        }

        .accordion {
            max-width: 100%;
            width: 70%;
            margin: 0 auto;
        }

        .accordion-item {
            margin-bottom: 10px;
            overflow: hidden;
            border: 1px solid #ddd;
            border-radius: 10px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        }

        .accordion-header {
            padding: 15px 20px;
            margin: 0;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(151, 205, 207);
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.3px;
            color: #444;
            transition: background-color 0.3s ease;
            /* text-align:right; */
        }

            .accordion-header:hover {
                background-color: rgb(52, 151, 146);
                color: white;
            }

            .accordion-header::after {
                text-align: right;
                content: '\002B';
                font-size: 24px;
                font-weight: bold;
                color: #666;
                transition: transform 0.3s ease;
            }

            .accordion-header.active::after {
                color: white;
                transform: rotate(225deg);
            }

            .accordion-header.active {
                background-color: rgb(52, 151, 146);
                color: white;
            }

        .accordion a{
            color:white
        }

            

        .accordion-content {
            padding: 20px;
            background-color: white;
            border: 2px solid rgb(52, 151, 146);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            font-size: 16px;
            color: #666;
            line-height: 1.5;
            letter-spacing: 0.11em;
            display: none;
        }
    </style>
}

<h4>訂單管理</h4>

@foreach(var i in Model)
{
    <details>
        <summary>
            &ensp;&ensp;<span class="st-stong">訂單編號: @Html.DisplayFor(modelItem => i.Oidramd)</span> &ensp;
            (
            @{
                if (i.ShippingMethod == "郵局i郵箱" && i.IsPayed == false)
                {
                    <text>郵寄 - 待付款</text>
                }
                else if (i.ShippingMethod == "郵局i郵箱" && i.IsPayed == true)
                {
                    <text>郵寄 - 已付款</text>
                }
                else if (i.ShippingMethod == "宅配" && i.IsPayed == false)
                {
                    <text>宅配 - 待付款</text>
                }
                else if (i.ShippingMethod == "宅配" && i.IsPayed == true)
                {
                    <text>宅配 - 已付款</text>
                }
                else if (i.ShippingMethod == "7-11純取貨" && i.IsPayed == false)
                {
                    <text>7-11純取貨 - 待付款</text>
                }
                else if (i.ShippingMethod == "7-11純取貨" && i.IsPayed == true)
                {
                    <text>7-11純取貨 - 已付款</text>
                }
                else if (i.ShippingMethod == "7-11取貨付款")
                {
                    <text>7-11取貨付款</text>
                }
            }
            )&ensp;&ensp;

            @{
                if (i.PayMethod == "信用卡")
                {
                    <button>信用卡</button>
                }
                else if (i.PayMethod == "ATM轉帳")
                {
                    <button>ATM轉帳</button>
                }
                else if (i.PayMethod == "LINE PAY")
                {
                    <button>LINE PAY</button>
                }
                else if (i.PayMethod == "7-11取貨付款")
                {
                    <button>7-11取貨付款</button>
                }
            }
            <span style="float:right;">
                @{
                    if (i.PayMethod == "7-11取貨付款")
                    {
                        <button asp-action="Edit" asp-route-id="@i.Oid" class="btn btn-info">檢貨</button>
                        <button asp-action="Edit" asp-route-id="@i.Oid" class="btn btn-secondary">修改</button>
                        <button asp-action="Delete" asp-route-id="@i.Oid" class="btn btn-secondary">刪除</button>
                    }
                    if (i.PayMethod == "信用卡")
                    {
                        <button asp-action="Edit" asp-route-id="@i.Oid" class="btn btn-info">檢貨</button>
                        <button asp-action="Edit" asp-route-id="@i.Oid" class="btn btn-secondary">修改</button>
                        <button asp-action="Delete" asp-route-id="@i.Oid" class="btn btn-secondary">刪除</button>
                    }
                    if (i.PayMethod == "ATM轉帳")
                    {
                        <button asp-action="Edit" asp-route-id="@i.Oid" class="btn btn-info">檢貨</button>
                        <button asp-action="Edit" asp-route-id="@i.Oid" class="btn btn-secondary">修改</button>
                        <button asp-action="Delete" asp-route-id="@i.Oid" class="btn btn-secondary">刪除</button>
                    }
                    if (i.PayMethod == "LINE PAY")
                    {
                        <button asp-action="Edit" asp-route-id="@i.Oid" class="btn btn-info">檢貨</button>
                        <button asp-action="Edit" asp-route-id="@i.Oid" class="btn btn-secondary">修改</button>
                        <button asp-action="Delete" asp-route-id="@i.Oid" class="btn btn-secondary">刪除</button>
                    }
                }
            </span>
           
            <br />
            &ensp;&ensp;&ensp;&ensp;<span>訂單成立時間: @Html.DisplayFor(modelItem => i.OrderDate)</span>
        </summary>
        <p>我們的使命是提供高品質的產品和服務，滿足客戶的需求。</p>
    </details>
}
<div class="accordion" style="width:100%">
    @foreach (var item in Model)
    {
        <div class="accordion-item">
            <p class="accordion-header">
                @* 單號-成立訂單時間 *@
                @Html.DisplayFor(modelItem => item.Oidramd) &ensp; ( @Html.DisplayFor(modelItem => item.OrderDate) ) &ensp;&ensp;&ensp;

                <br />
                @{
                    if (item.ShippingMethod == "郵寄" && item.IsPayed.ToString() == "0")
                    {
                        <text>郵寄 - 待付款</text>
                    }
                    else if (item.ShippingMethod == "郵寄" && item.IsPayed.ToString() == "1")
                    {
                        <text>郵寄 - 已付款</text>
                    }
                    else if (item.ShippingMethod == "7-11" && item.Is711Pay.ToString() == "0" && item.IsPayed.ToString() == "0")
                    {
                        <text>7-11純取貨 - 待付款</text>
                    }
                    else if (item.ShippingMethod == "7-11" && item.Is711Pay.ToString() == "0" && item.IsPayed.ToString() == "1")
                    {
                        <text>7-11純取貨 - 已付款</text>
                    }
                    else if (item.ShippingMethod == "7-11" && item.Is711Pay.ToString() == "1")
                    {
                        <text>7-11取貨付款</text>
                    }
                }
                
                @{
                    //郵寄-已付款
                    if (item.ShippingMethod == "郵寄" && item.IsPayed.ToString() == "1")
                    {
                        <span style="margin-left:auto;">
                            <a asp-action="Edit" asp-route-id="@item.Oid">檢貨</a>
                            <a asp-action="Edit" asp-route-id="@item.Oid">修改</a>
                            <a asp-action="Delete" asp-route-id="@item.Oid">刪除</a>
                        </span>
                    }
                    //郵寄-待付款
                    else if (item.ShippingMethod == "郵寄" && item.IsPayed.ToString() == "0")
                    {
                        <span style="margin-left:auto;">
                            <a asp-action="Edit" asp-route-id="@item.Oid">修改</a>
                            <a asp-action="Delete" asp-route-id="@item.Oid">刪除</a>
                        </span>
                    }
                    //7-11純取-待付款
                    else if (item.ShippingMethod == "7-11" && item.Is711Pay.ToString() == "0" && item.IsPayed.ToString() == "0")
                    {
                        <span style="margin-left:auto;">
                            <a asp-action="Edit" asp-route-id="@item.Oid">修改</a>
                            <a asp-action="Delete" asp-route-id="@item.Oid">刪除</a>
                        </span>
                    }
                    //7-11純取-已付款
                    else if (item.ShippingMethod == "7-11" && item.Is711Pay.ToString() == "0" && item.IsPayed.ToString() == "1")
                    {
                        <span style="margin-left:auto;">
                            <a asp-action="Edit" asp-route-id="@item.Oid">檢貨</a>
                            <a asp-action="Edit" asp-route-id="@item.Oid">修改</a>
                            <a asp-action="Delete" asp-route-id="@item.Oid">刪除</a>
                        </span>
                    }
                    //7-11取貨付款
                    else if (item.ShippingMethod == "7-11" && item.Is711Pay.ToString() == "1")
                    {
                        <span style="margin-left:auto;">
                            <a asp-action="Edit" asp-route-id="@item.Oid">檢貨</a>
                            <a asp-action="Edit" asp-route-id="@item.Oid">修改</a>
                            <a asp-action="Delete" asp-route-id="@item.Oid">刪除</a>
                        </span>
                    }
                }

            </p>

            <div class="accordion-content">
                <p>
                    @{
                        if (item.IsMember.ToString() == "1")
                        {
                            <text>會員ID: </text>
                        }
                        else
                        {
                            <text>訪客</text>
                        }
                    }
                    &ensp; 訂單詳情: @Html.DisplayFor(modelItem => item.OrderDetailId)
                    &ensp; 訂單金額: @Html.DisplayFor(modelItem => item.OrderTotal)
                </p>
                <p>
                    駁二藝術特區的前身為高雄港倉庫，建於1973年，過去儲放魚粉與砂糖，隨著產業轉型，一度遭遺忘閒置；直到2000年高雄市政府因尋找國慶煙火施放地點的機緣下，才讓這些舊倉庫起死回生、開創新生命，見證高雄港的繁華、沒落、再起與轉型。
                </p>
            </div>
        </div>
    }

    </div>

<table class="display animated--fade-in" id="Listajax">
    <thead class="badge-brown-3">
        <tr>
            <th>
                功能
            </th>
            <th>
                訂單流水號
                @* @Html.DisplayNameFor(model => model.Oidramd) *@
            </th>
            <th>
                訂單詳情
                @* @Html.DisplayNameFor(model => model.OrderDetailID) *@
            </th>
            <th>
                訂單日期
                @* @Html.DisplayNameFor(model => model.OrderDate) *@
            </th>
            <th>
                會員
                @* @Html.DisplayNameFor(model => model.IsMember) *@
            </th>
            <th>
                付款日期
                @* @Html.DisplayNameFor(model => model.PayDate) *@
            </th>
            <th>
                付款狀態
                @* @Html.DisplayNameFor(model => model.IsPayed) *@
            </th>
            <th>
                訂單金額
                @* @Html.DisplayNameFor(model => model.OrderTotal) *@
            </th>
            <th>
                送貨指定時間
                @* @Html.DisplayNameFor(model => model.ShippingTimeReq) *@
            </th>
            <th>
                訂單狀態
                @* @Html.DisplayNameFor(model => model.OrderState) *@
            </th>
            <th>
                送貨方法
                @* @Html.DisplayNameFor(model => model.ShippingMethod) *@
            </th>
            <th>
                取貨付款
                @* @Html.DisplayNameFor(model => model.Is711Pay) *@
            </th>
            <th>
                7-11門市
                @* @Html.DisplayNameFor(model => model.Store711) *@
            </th>
            <th>
                購買人姓名
                @* @Html.DisplayNameFor(model => model.CustomerName) *@
            </th>
            <th>
                購買人電話
                @* @Html.DisplayNameFor(model => model.CustomerPhone) *@
            </th>
            <th>
                購買人電郵
                @* @Html.DisplayNameFor(model => model.CustomerEmail) *@
            </th>
            <th>
                購買人地址1
                @* @Html.DisplayNameFor(model => model.CustomerAdd1) *@
            </th>
            <th>
                購買人地址2
                @* @Html.DisplayNameFor(model => model.CustomerAdd2) *@
            </th>
            <th>
                購買人地址3
                @* @Html.DisplayNameFor(model => model.CustomerAdd3) *@
            </th>
            <th>
                收件人姓名
                @* @Html.DisplayNameFor(model => model.ShippingName) *@
            </th>
            <th>
                收件人電話
                @* @Html.DisplayNameFor(model => model.ShippingPhone) *@
            </th>
            <th>
                收件人地址1
                @* @Html.DisplayNameFor(model => model.ShippingAdd1) *@
            </th>
            <th>
                收件人地址2
                @* @Html.DisplayNameFor(model => model.ShippingAdd2) *@
            </th>
            <th>
                收件人地址3
                @* @Html.DisplayNameFor(model => model.ShippingAdd3) *@
            </th>
            <th>
                手機載具
                @* @Html.DisplayNameFor(model => model.Phinvoice) *@
            </th>
            <th>
                公司統編
                @* @Html.DisplayNameFor(model => model.Cpinvoice) *@
            </th>
            <th>
                公司抬頭
                @* @Html.DisplayNameFor(model => model.Cptitle) *@
            </th>
            <th>
                付款方式
                @* @Html.DisplayNameFor(model => model.PayMethod) *@
            </th>
            <th>
                折扣碼
                @* @Html.DisplayNameFor(model => model.DiscountCode) *@
            </th>
            <th>
                折扣金額
                @* @Html.DisplayNameFor(model => model.DiscountPrice) *@
            </th>
            <th>
                運費
                @* @Html.DisplayNameFor(model => model.ShippingFeed) *@
            </th>
            <th>
                紅利點
                @* @Html.DisplayNameFor(model => model.Points) *@
            </th>
            <th>
                訂單備註
                @* @Html.DisplayNameFor(model => model.OrderListNote) *@
            </th>
            @*             <th>
            @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
            @Html.DisplayNameFor(model => model.OrderDetail)
            </th> *@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Oid">修改</a> ||
                    <a asp-action="Delete" asp-route-id="@item.Oid">刪除</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oidramd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDetailId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @{
                        if (item.IsMember.ToString() == "0")
                        {
                            <text>否</text>
                            
                        }
                        else
                        {
                            <text>是</text>
                            
                        }
                    }
                    @* @Html.DisplayFor(modelItem => item.OSisMember) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayDate)
                </td>
                <td>
                    @{
                        if (item.IsPayed.ToString() == "0")
                        {
                            <text>尚未付款</text>

                        }
                        else
                        {
                            <text>已付款</text>

                        }
                    }
                    @* @Html.DisplayFor(modelItem => item.IsPayed) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingTimeReq)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingMethod)
                </td>
                <td>
                    @{
                        if (item.Is711Pay.ToString() == "0")
                        {
                            <text>否</text>

                        }
                        else
                        {
                            <text>是</text>

                        }
                    }
                   @*  @Html.DisplayFor(modelItem => item.Is711Pay) *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Store711)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAdd1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAdd2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAdd3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAdd1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAdd2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingAdd3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phinvoice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpinvoice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cptitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiscountPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShippingFeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderListNote)
                </td>


            </tr>
        }
    </tbody>
</table>
    
        

@section Scripts {
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.1/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>
    <script>
            $(function () {
                $('.accordion-header').on('click', function () {
                    //重設所有header跟content的狀態
                    //判斷當點擊的header沒有active的樣式時才執行
                    if (!$(this).hasClass("active")) {
                        $('.accordion-content').slideUp();
                    }

                    $('.accordion-header').removeClass("active")
                    $(this).toggleClass("active");
                    $(this).siblings().slideToggle();
                })
                $('.accordion-header').first().click();
            })
         
                
    </script>
    <script>
        new DataTable('#Listajax', {
            dom: 'Bfrtip',
            scrollX: true,

            buttons: [
                {
                    extend: 'colvis',
                    collectionLayout: 'fixed columns',
                    collectionTitle: '欄位顯示設定',
                    columnText: function (dt, idx, title) {
                        return (idx + 1) + ': ' + title;
                    },
                    postfixButtons: ['colvisRestore']
                }
            ],
            // columns: [
            //     // {
            //     //     "data": "Oidramd",
            //     //     "width": "30000px"
            //     // }

            // ]


            columnDefs: [
                { targets: 0, width: "50px", orderable: false },//功能
                { targets: 1, width: "100px" },//訂單流水號
                { targets: 2, width: "100px" },//訂單日期
                { targets: 3, width: "40px" },//會員
                { targets: 4, width: "100px" },//付款日期
                { targets: 5, width: "70px" },//付款狀態
                { targets: 6, width: "70px" },//訂單金額
                { targets: 7, width: "100px" },//送貨指定時間
                { targets: 8, width: "70px" },//訂單狀態
                { targets: 9, width: "70px" },//送貨方法
                { targets: 10, width: "70px" },//取貨付款
                { targets: 11, width: "80px" },//7-11門市
                { targets: 12, width: "80px" }, //購買人姓名
                { targets: 13, width: "100px" },//購買人電話
                { targets: 14, width: "110px" },//購買人電郵
                { targets: 15, width: "90px" },//購買人地址1
                { targets: 16, width: "90px" },//購買人地址2
                { targets: 17, width: "200px" },//購買人地址3
                { targets: 18, width: "80px" },//收件人姓名
                { targets: 19, width: "100px" },//收件人電話
                { targets: 20, width: "90px" },//收件人地址1
                { targets: 21, width: "90px" },//收件人地址2
                { targets: 22, width: "200px" },//收件人地址3
                { targets: 23, width: "80px" },//手機載具條碼
                { targets: 24, width: "80px" },//公司統編
                { targets: 25, width: "100px" },//公司抬頭
                { targets: 26, width: "70px" },//付款方式
                { targets: 27, width: "90px" },//折扣碼
                { targets: 28, width: "70px" },//折扣金額
                { targets: 29, width: "50px" },//運費
                { targets: 30, width: "50px" }, //紅利點
                { targets: 31, width: "120px" },//訂單備註
            ]
        });

    </script>
}
