@model IEnumerable<bookfortable.Models.Event>

@{
    ViewData["Title"] = "List";
}

<h1>活動列表</h1>

<p>
    <a asp-action="Create">Create</a> |
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               活動名稱
            </th>
            <th>
                活動日期
            </th>
            <th>
                活動地址
            </th>
            <th>
                活動圖示
            </th>
            <th>
                活動類型
            </th>
            <th>
                活動主辦人
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventAddress)
            </td>
            <td>
                 <img src="~/images/@item.FIamgePath" width="200" height="250" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Eventhost)
            </td>
                <td>
                    <a asp-action="Create" asp-route-id="@item.EventId"></a> 
                </td>
            <td>
               
                <a asp-action="Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
