@model List<Bookfortable.Models.CShoppingCartItem>
@using static List<Bookfortable.Models.CDiscountCodeViewModel>

@{
    ViewData["Title"] = "CartView";
    Layout = "_FrontLayout";
}
@section Styles {
    
    
    <style>
        #cart-titile{
            text-align:center;
        }

        #cart-titile p{
            color: lightgray;
            font-size:17px;
        }
        .b-part{
            letter-spacing:7px;
        }

        .b-tight{
            letter-spacing: -1px;
        }

        #cart-titile .URhere {
            color:dimgray;
            font-weight:bolder;
        }

        .table {
            color: dimgray;
            text-align: center;
            vertical-align: middle;
            font-size: 15px;
        }

        .table th{
            letter-spacing: 0.5em;
        }

        .table td {
            vertical-align: middle;
            letter-spacing: 3.5px;
        }

        a:link{
            color:lightgray;
        }

        #CartDetails{
            width:1000px;
            margin:3px auto;
            padding:3px;
            line-height: 25px;
            text-align: right;
            vertical-align: middle;
        }

        form tr {
            margin-bottom: 100px;
        }

        .st1{
            display: flex;
            align-items: center;
            letter-spacing:0.35em;
            width:110px;
        }

        .st2{
            padding-top:100px;
        }

        .text-avg {
            vertical-align: middle;
            letter-spacing: 1px;
            font-size:15px;
        }

        #CartDetails .text-avg{
            width:110px;
            height:25px;
            line-height:25px;
            font-weight:bold;
            text-align-last:justify;
            font-size:16px;            
        }

        .num-right {
            width:100px;
            height: 25px;
            line-height: 25px;
            text-align:right;
        }

        #simple-details{
            width: 1000px;
            margin: 3px auto;
            padding: 3px;
        }

        .st2{
            margin-bottom:20px;
        }

        #CartDetails a {
            line-height: 25px;
            display: inline-block;
        }

        #DiscountTypeIn{
            width: 1000px;
            margin: 3px auto;
            padding: 3px;
        }

        .red{
            color:lightcoral;
            font-size:smaller;
            letter-spacing:2px;
        }
    </style>
}
<h2>購物車車</h2>
<p>
    @Html.ActionLink("結帳購物車", "Create")
</p>

<div id="cart-titile">
    <p>
        <a class="b-part URhere">&emsp;購物清單&emsp;</a>
        <a class="b-tight">―――――――――――――――――</a>
        <a class="b-part">&emsp;填寫資料&emsp;</a>
        <a class="b-tight">―――――――――――――――――</a>
        <a class="b-part">&emsp;訂單完成&emsp;</a>
    </p>
</div>
<br />
<br />
<table class="table">
    <thead>
    <tr>
        <th>
            <!--序號-->
        </th>
            
        <th colspan="2">
            盲盒內容
        </th>
        
        <th>
            <!--數量-->
            @Html.DisplayNameFor(model => model[0].count)
        </th>
        <th>
            <!--單價-->
            @Html.DisplayNameFor(model => model[0].price)
        </th>
        <th>
            <!--小計-->
            @Html.DisplayNameFor(model => model[0].小計)
        </th>
        <th>
            <!--修改數量&刪除-->
        </th>
    </tr>
    </thead>
    <tbody>
    @{
        int count = 0;
        decimal pay = 0;
        decimal shipping = 100;
        decimal sum = 0;
        foreach (var item in Model)
        {           
            count++;
            item.小計 = item.price * item.count;
            pay += item.小計;
                                                                    <tr>
                                                                        <td>
                                                                            <!--序號-->
                                                                            @count
                                                                        </td>
                                                                        <td>
                                                                            <!--盲盒內容圖片欄-->
                                                                            <img src="@Url.Content("~/images/Tempbox_img/TempBox_img.jpg")" width="135" height="135" />
                                                                            <!-- @Html.DisplayFor(modelItem => item.product.BoxId) -->
                                                                        </td>
                                                                        <td>
                                                                            <!--偏好兼修改-->
                                                                            @Html.DisplayFor(modelItem => item.productType)
                                                                            <br />
                                                                            @Html.ActionLink("[修改偏好]", "Edit", new { /* id=item.PrimaryKey */ })
                                                                        </td>
                                                                        <td>
                                                                            <!--數量與修改-->
                                                                            <button class="btn btn-info btn-sm" onclick="decreaseCount(event)">-</button>
                                                                            <span id="@Html.Raw("countDisplay" + count)">@Html.DisplayFor(modelItem => item.count)</span>
                                                                            <button class="btn btn-info btn-sm" onclick="increaseCount(event)">+</button>
                                                                        </td>
                                                                        <td>
                                                                            <!--單價-->
                                                                            @Html.DisplayFor(modelItem => item.price)
                                                                        </td>
                                                                        <td>
                                                                            <!--小計-->
                                                                            <span id="@Html.Raw("subtotalDisplay" + count)">@Html.DisplayFor(modelItem => item.小計)</span>
                                                                        </td>
                                                                        <td>
                                                                            <!--刪除-->
                                                                            <button class="btn btn-info" onclick="confirmDelete('@Url.Action("Deletebox", new {  })')"><i class="fas fa-trash"></i></button>
                                                                            <a asp-action="Deletebox" asp-controller="Shopping" asp-route-id="@item.productId" class="link-delete btn btn-info" onclick="return confirm('確定要刪除嗎?')"><i class="fas fa-trash"></i></a>
                                                                        </td>
                                                                    </tr>
        }
        

       
        
    }
    </tbody>
</table>
<div id="cart-titile">
    <button class="btn btn-info btn-lg b-part" onclick="location.href='@Url.Action("Createbox", new {  })'">新增盲盒</button>
</div>
<br />
<div id="simple-details">
        <table>
            <tr>
                <td>
                    <label class="st1" for="deliveryArea">配送地區</label>
                </td>
                <td>
                   <select class="form-select form-select-sm" id="deliveryArea">
                        <option selected>請選擇配送地區</option>
                        <option value="臺灣本島">臺灣本島</option>
                        <option value="臺灣離島">臺灣離島</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>&emsp;&emsp;&emsp;&emsp;</td>
            </tr>
            <tr>
                <td>
                    <label class="st1" for="howtopay">付款方式</label>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payRadios" id="howtopay" value="信用卡">
                        <label class="form-check-label" for="">
                            信用卡
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payRadios" id="howtopay" value="ATM轉帳">
                        <label class="form-check-label" for="">
                            ATM轉帳
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payRadios" id="howtopay" value="LINE PAY">
                        <label class="form-check-label" for="">
                            LINE PAY
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payRadios" id="howtopay" value="7-11取貨付款">
                        <label class="form-check-label" for="">
                            7-11取貨付款
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>&emsp;&emsp;&emsp;&emsp;</td>
            </tr>
            <tr>
                <td>
                    <label class="st1" for="deliveryWay">配送方式</label>
                </td>
                <td>
                <select class="form-select form-select-sm" id="deliveryWay">
                    <!--
                        // <option selected>請選擇配送方式</option>
                        // <option value="宅配">宅配</option>
                        // <option value="7-11純取貨">7-11純取貨</option>
                        // <option value="7-11取貨付款">7-11取貨付款</option>
                        // <option value="郵局i郵箱">郵局i郵箱</option>
                        -->
                    </select>
                </td>
            </tr>

        </table>
</div>
// <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



<br />
    <div id="DiscountTypeIn">
        <input type="text" id="discountcode" name="txtDiscountCode" size="20" autofocus placeholder="大小寫需相同" autocomplete="off">
    <input type="button" class="btn btn-info btn-sm" value="套用折扣碼" onclick="applyDiscount()" />
        <p class="red" id="SpApplyDiscount"></p>
    </div>
    
  
 
    

    <div id="CartDetails">
        <div><label class="text-avg">總金額：</label><a class="num-right" id="@Html.Raw("subtotalDisplay" + count)">@pay.ToString("###,###,##0")</a></div>
        <div><label class="text-avg">運費：</label><a class="num-right">@shipping.ToString("###,###,##0")</a></div>
        <div><label class="text-avg">運費折抵：</label><a class="num-right">-@shipping.ToString("###,###,##0")</a></div>
        <div><label class="text-avg">折扣碼折抵：</label><a class="num-right" id="dcprice">0</a></div>
        <div><label class="text-avg">紅利折抵：</label><a class="num-right"></a></div>
        <div class="b-tight">――――――――――――――</div>
        <div><label class="text-avg">結帳金額：</label><a class="num-right">@pay.ToString("###,###,##0")</a></div>
        <div class="red">會員紅利: 000 點</div>
        <div id="cart-titile">
            <button class="btn btn-info btn-lg b-part" onclick="location.href='@Url.Action("Createbox", new {  })'">新增盲盒</button>
        </div>
    </div>


    @section scripts {
        <script src="https://kit.fontawesome.com/6da9884828.js" crossorigin="anonymous"></script>
        <script>
            //數量的修正
            function increaseCount(event) {
                //根據此筆的數量 * 價格得到小計
                //更新總計
                //更新資料庫的購買數量
                const btn = $(event.target);
          
                const row = btn.parents('tr');
                const spnQty = row.find('td:nth-child(4)').find('span');

                let qty = spnQty.text();  //數量
                qty = parseInt(qty) + 1;
                
                const price = row.find('td:nth-child(5)').text(); //單價
                row.find('td:nth-child(6)').text(qty * price); //更新小計
                spnQty.text(qty); //更新數量
            }

            // JavaScript function to decrement count
            function decreaseCount(event) {
                //根據此筆的數量 * 價格得到小計
                //更新總計
                const btn = $(event.target);

                const row = btn.parents('tr');
                const spnQty = row.find('td:nth-child(4)').find('span');
                let qty = spnQty.text();  //數量
                qty = parseInt(qty) - 1;

                const price = row.find('td:nth-child(5)').text(); //單價
                row.find('td:nth-child(6)').text(qty * price); //更新小計
                spnQty.text(qty); //更新數量

            }

            
            function confirmDelete(deleteUrl) {
                var result = confirm("刪除後無法復原, 確定要刪除嗎？");

                if (result) {
                    // 如果用户点击了确认按钮，执行删除操作
                    location.href = deleteUrl;
                }
            }
        </script>

    <script>
        const deliveies = { "臺灣本島": ["宅配", "7-11純取貨", "7-11取貨付款", "郵局i郵箱"], "臺灣離島": ["宅配", "7-11純取貨", "郵局i郵箱"] };
        let dvway = $("#deliveryWay");
        console.log("這是你要的陣列", deliveies);
        //dvway.empty();

        $(document).ready(function () {
            $('#deliveryArea').on('change', (event) => {
                const selectedArea = $(event.target).val();
                console.log("Selected Area:", selectedArea);
                const way = deliveies[$(event.target).val()];
                console.log("Selected way:", way);
                dvway.empty();
               
                
                way.forEach((item) => {
                    dvway.append(`<option value="${item}">${item}</option>`)
                    if (selectedArea === "臺灣離島") {
                        $('input[value="7-11取貨付款"]').prop('disabled', true);
                    } else if (selectedArea === "臺灣本島") {
                        $('input[value="7-11取貨付款"]').prop('disabled', false);
                    }
                    // console.log(item)
                })
                dvway.niceSelect('update')
            })

            // $("#deliveryArea").change(function () {
            //     var selectedOption = $(this).val();
            //     if (selectedOption === "臺灣本島") {
            //         console.log("觸發台灣本島事件!!");
            //         dvway.append("<option>請選擇配送方式</option>");
            //     }
            // });
        });

        // $('#deliveryArea').change(function () {
        //     var dvarea = $(this).val();

        //     if (dvarea === '臺灣本島') {
        //         $('input[value="7-11取貨付款"]').prop('disabled', false);
        //         dvway.append("<option selected>請選擇配送方式</option>");
        //     } else if (dvarea === '臺灣離島') {
        //         $('input[value="7-11取貨付款"]').prop('disabled', true);
        //     }
        // });
    </script>

    <script>
        function applyDiscount() {
            let discountCode = document.getElementById("discountcode").value;
            let spapdc = document.getElementById("SpApplyDiscount");

            if (discountcode === "") {
                spapdc.innerHTML = "尚未輸入折扣碼"
            } else {
                //ajax
                $.ajax({
                    url: '@Url.Action("ApplyDiscount", "Shopping")',
                    type: 'POST',
                    contentType: 'application/json',  // Explicitly set the content type to JSON
                    data: JSON.stringify({ txtDiscountCode: discountCode }),
                    success: function (result) {
                        console.log(result);
                        // 根据服务器端返回的结果更新视图
                        // 例如，可以根据 result 更新 isValidDiscount 和 message 变量
                        // 这里仅为示例，请根据实际情况进行调整
                        if (result !== "0") {
                            spapdc.innerHTML = ` 有效折扣碼，折扣金額為 ${result}`
                            $('#dcprice').text(result);
                            // 1console.log(isValidDiscount);
                        } else {
                            // console.log(isValidDiscount);
                            spapdc.innerHTML = "輸入錯誤 / 折扣碼過期"
                        }

                        // 更新视图中的消息
                        //  $(".red").text(message).removeClass("green lightcoral").addClass(messageClass);
                    },
                    error: function () {
                        // 处理错误情况
                        console.log("Error applying discount.");
                    }
                });
            }
        }
    </script>
    }