@model List<Bookfortable.Models.CShoppingCartItem>
@using static List<Bookfortable.Models.CDiscountCodeViewModel>

@{
    ViewData["Title"] = "CartView";
    Layout = "_FrontLayout";
}
@section Styles {
    
    
    <style>
        #cart-titile{
            text-align:center;
        }

        #cart-titile p{
            color: lightgray;
            font-size:17px;
        }
        .b-part{
            letter-spacing:7px;
        }

        .b-tight{
            letter-spacing: -1px;
        }

        #cart-titile .URhere {
            color:dimgray;
            font-weight:bolder;
        }

        .table {
            color: dimgray;
            text-align: center;
            vertical-align: middle;
            font-size: 15px;
        }

        .table th{
            letter-spacing: 0.5em;
        }

        .table td {
            vertical-align: middle;
            letter-spacing: 3.5px;
        }

        a:link{
            color:lightgray;
        }

        #CartDetails{
            width:1000px;
            margin:3px auto;
            padding:3px;
            line-height: 25px;
            text-align: right;
            vertical-align: middle;
        }

        form tr {
            margin-bottom: 100px;
        }

        .st1{
            display: flex;
            align-items: center;
            letter-spacing:0.35em;
            width:110px;
        }

        .st2{
            padding-top:100px;
        }

        .text-avg {
            vertical-align: middle;
            letter-spacing: 1px;
            font-size:15px;
        }

        #CartDetails .text-avg{
            width:110px;
            height:25px;
            line-height:25px;
            font-weight:bold;
            text-align-last:justify;
            font-size:16px;            
        }

        .num-right {
            width:100px;
            height: 25px;
            line-height: 25px;
            text-align:right;
        }

        #simple-details{
            width: 1000px;
            margin: 3px auto;
            padding: 3px;
        }

        .st2{
            margin-bottom:20px;
        }

        #CartDetails a {
            line-height: 25px;
            display: inline-block;
        }

        #DiscountTypeIn{
            width: 1000px;
            margin: 3px auto;
            padding: 3px;
        }

        .red{
            color:lightcoral;
            font-size:smaller;
            letter-spacing:2px;
        }
    </style>
}
<h2>購物車車</h2>
<p>
    @Html.ActionLink("結帳購物車", "Create")
</p>

<div id="cart-titile">
    <p>
        <a class="b-part URhere">&emsp;購物清單&emsp;</a>
        <a class="b-tight">―――――――――――――――――</a>
        <a class="b-part">&emsp;填寫資料&emsp;</a>
        <a class="b-tight">―――――――――――――――――</a>
        <a class="b-part">&emsp;訂單完成&emsp;</a>
    </p>
</div>
<br />
<br />
<table class="table">
    <tr>
        <th>
            <!--序號-->
        </th>
            
        <th colspan="2">
            盲盒內容
        </th>
        
        <th>
            <!--數量-->
            @Html.DisplayNameFor(model => model[0].count)
        </th>
        <th>
            <!--單價-->
            @Html.DisplayNameFor(model => model[0].price)
        </th>
        <th>
            <!--小計-->
            @Html.DisplayNameFor(model => model[0].小計)
        </th>
        <th>
            <!--修改數量&刪除-->
        </th>
    </tr>

    @{
        int count = 0;
        decimal pay = 0;
        decimal shipping = 100;
        decimal sum = 0;
        foreach (var item in Model)
        {           
            count++;
            item.小計 = item.price * item.count;
            pay += item.小計;

                                <tr>
                                    <td>
                                        <!--序號-->
                                        @count
                                    </td>

                                    <td>
                                        <!--盲盒內容圖片欄-->
                                        <img src="@Url.Content("~/images/Tempbox_img/TempBox_img.jpg")" width="135" height="135" />
                                        <!-- @Html.DisplayFor(modelItem => item.product.BoxId) -->
                                    </td>
                                    <td>
                                        <!--偏好兼修改-->
                                        @Html.DisplayFor(modelItem => item.productType)
                                        <br />
                                        @Html.ActionLink("[修改偏好]", "Edit", new { /* id=item.PrimaryKey */ })
                                        
                                        
                                    </td>
                                    <td>
                                        <!--數量-->
                                        <button class="btn btn-info btn-sm" onclick="decreaseCount(@(count))">-</button>
                                        <span id="@Html.Raw("countDisplay" + count)">@Html.DisplayFor(modelItem => item.count)</span>
                                        <button class="btn btn-info btn-sm" onclick="increaseCount(@(count))">+</button>
                                    </td>
                                    <td>
                                        <!--單價-->
                                        @Html.DisplayFor(modelItem => item.price)
                                    </td>
                                    <td>
                                        <!--小計-->

                                    <span id="@Html.Raw("subtotalDisplay" + count)">@Html.DisplayFor(modelItem => item.小計)</span>
                                    </td>
                                    <td>
                                        <!--刪除-->
                                    <button class="btn btn-info" onclick="confirmDelete('@Url.Action("Deletebox", new {  })')"><i class="fas fa-trash"></i></button>
                                    <a asp-action="Deletebox" asp-controller="Shopping" asp-route-id="@item.productId" class="link-delete btn btn-info" onclick="return confirm('確定要刪除嗎?')"><i class="fas fa-trash"></i></a>
                                    </td>
                                </tr>
        }
        
    }
</table>
<div id="cart-titile">
    <button class="btn btn-info btn-lg b-part" onclick="location.href='@Url.Action("Createbox", new {  })'">新增盲盒</button>
</div>
<br />
<div id="simple-details">
        <table>
            <tr>
                <td>
                    <label class="st1" for="deliveryArea">配送地區</label>
                </td>
                <td>
                   <select class="form-select form-select-sm" id="deliveryArea">
                        <option selected>請選擇配送地區</option>
                        <option value="臺灣本島">臺灣本島</option>
                        <option value="臺灣離島">臺灣離島</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>&emsp;&emsp;&emsp;&emsp;</td>
            </tr>
            <tr>
                <td>
                    <label class="st1" for="howtopay">付款方式</label>
                </td>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payRadios" id="howtopay" value="信用卡">
                        <label class="form-check-label" for="">
                            信用卡
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payRadios" id="howtopay" value="ATM轉帳">
                        <label class="form-check-label" for="">
                            ATM轉帳
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payRadios" id="howtopay" value="LINE PAY">
                        <label class="form-check-label" for="">
                            LINE PAY
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="payRadios" id="howtopay" value="7-11取貨付款">
                        <label class="form-check-label" for="">
                            7-11取貨付款
                        </label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>&emsp;&emsp;&emsp;&emsp;</td>
            </tr>
            <tr>
                <td>
                    <label class="st1" for="deliveryWay">配送方式</label>
                </td>
                <td>
                    <select class="form-select form-select-sm" id="deliveryWay">
                        <option selected>請選擇配送方式</option>
                        <option value="宅配">宅配</option>
                        <option value="7-11純取貨">7-11純取貨</option>
                        <option value="7-11取貨付款">7-11取貨付款</option>
                        <option value="郵局i郵箱">郵局i郵箱</option>
                    </select>
                </td>
            </tr>

        </table>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var deliveryWayDropdown = $('#deliveryWay');

    $(document).ready(function () {
        $('#deliveryArea').change(function () {
                var selectedDeliveryArea = $(this).val();

                deliveryWayDropdown.empty();

                // Add default option
                deliveryWayDropdown.append('<option selected>請選擇配送方式</option>');

                // Add options based on selectedDeliveryArea
                if (selectedDeliveryArea === '臺灣本島') {
                    $('input[value="7-11取貨付款"]').prop('disabled', false);
                    $('select[value="7-11純取貨"]').prop('disabled', false);
                    deliveryWayDropdown.append('<option value="宅配">宅配</option>');
                    deliveryWayDropdown.append('<option value="7-11純取貨">7-11純取貨</option>');
                    deliveryWayDropdown.append('<option value="郵局i郵箱">郵局i郵箱</option>');
                    deliveryWayDropdown.append('<option value="7-11取貨付款">7-11取貨付款</option>');
                } else if (selectedDeliveryArea === '臺灣離島') {
                  $('input[value="7-11取貨付款"]').prop('disabled', true);
                    deliveryWayDropdown.append('<option value="宅配">宅配</option>');
                    deliveryWayDropdown.append('<option value="7-11純取貨">7-11純取貨</option>');
                }
        });
    });
</script>

<br />
    <div id="DiscountTypeIn">
        <input type="text" id="discountcode" name="txtDiscountCode" size="20" autofocus placeholder="大小寫需相同" autocomplete="off">
    <input type="button" class="btn btn-info btn-sm" value="套用折扣碼" onclick="applyDiscount()" />
        <p class="red" id="SpApplyDiscount"></p>
    </div>
    
    <script>
        function applyDiscount() {
            let discountCode = document.getElementById("discountcode").value;
            let spapdc = document.getElementById("SpApplyDiscount");
            $.ajax({
                url: '@Url.Action("ApplyDiscount", "Shopping")',
                type: 'POST',
                contentType: 'application/json',  // Explicitly set the content type to JSON
                data: JSON.stringify({ txtDiscountCode: discountCode }),
                success: function (result) {
                    // 根据服务器端返回的结果更新视图
                    // 例如，可以根据 result 更新 isValidDiscount 和 message 变量
                    // 这里仅为示例，请根据实际情况进行调整
                    if (discountcode == "") {
                        spapdc.innerHTML = "尚未輸入折扣碼"
                        console.log(discountcode);
                    }
                    else if (isValidDiscount) {
                        spapdc.innerHTML = "有效折扣碼"
                        console.log(isValidDiscount);
                    } else {
                        console.log(isValidDiscount);
                        spapdc.innerHTML = "輸入錯誤 / 折扣碼過期"
                    }

                    // 更新视图中的消息
                    $(".red").text(message).removeClass("green lightcoral").addClass(messageClass);
                },
                error: function () {
                    // 处理错误情况
                    console.log("Error applying discount.");
                }
            });
        }
    </script>
 
    

    <div id="CartDetails">
        <div><label class="text-avg">總金額：</label><a class="num-right" id="@Html.Raw("subtotalDisplay" + count)">@pay.ToString("###,###,##0")</a></div>
        <div><label class="text-avg">運費：</label><a class="num-right">@shipping.ToString("###,###,##0")</a></div>
        <div><label class="text-avg">運費折抵：</label><a class="num-right">-@shipping.ToString("###,###,##0")</a></div>
        <div><label class="text-avg">折扣碼折抵：</label><a class="num-right"></a></div>
        <div><label class="text-avg">紅利折抵：</label><a class="num-right"></a></div>
        <div class="b-tight">――――――――――――――</div>
        <div><label class="text-avg">結帳金額：</label><a class="num-right">@pay.ToString("###,###,##0")</a></div>
        <div class="red">會員紅利: 000 點</div>
    </div>


    @section scripts {
        <script src="https://kit.fontawesome.com/6da9884828.js" crossorigin="anonymous"></script>
        <script>
            //數量的修正
            // JavaScript function to increment count
            function increaseCount(i) {
                console.log(i);
                var countDisplay = '#countDisplay' + i;
                var subtotalDisplay = '#subtotalDisplay' + i;
                // 获取当前 count 的值
                var currentCount = parseInt($(countDisplay).text());

                // 增加 count 的值
                currentCount++;

                // 计算新的小计值
                var newSubtotal = currentCount * parseFloat($(subtotalDisplay).text()); // 使用parseFloat确保price是浮点数

                // 更新显示
                updateDisplay(countDisplay, i, currentCount, newSubtotal);
            }

            // JavaScript function to decrement count
            function decreaseCount(i) {
                console.log(i);
                var countDisplay = '#countDisplay' + i;
                var subtotalDisplay = '#subtotalDisplay' + i;
                // 获取当前 count 的值
                var currentCount = parseInt($(countDisplay).text());

                // 减少 count 的值
                currentCount--;

                // 计算新的小计值
                var newSubtotal = currentCount * parseFloat($(subtotalDisplay).text()); // 使用parseFloat确保price是浮点数

                // 更新显示
                updateDisplay(countDisplay, i, currentCount, newSubtotal);
            }

            function updateDisplay(countDisplay, i, currentCount, newSubtotal) {
                // 更新显示的 count
                var countDisplay = '#countDisplay' + i;
                var subtotalDisplay = '#subtotalDisplay' + i;
                $(countDisplay).text(currentCount);
                // 更新显示的小计
                $(subtotalDisplay).text(newSubtotal.toFixed(2)); // 使用toFixed确保显示两位小数

                // 发送 AJAX 请求到后端，更新服务器上的数据
                // $.ajax({
                //     url: '@Url.Action("UpdateCount", "ShoppingController")',
                //     type: 'POST',
                //     data: { newCount: newCount },
                //     success: function (response) {
                //         // 可选：在成功后执行其他操作
                //     },
                //     error: function (error) {
                //         // 可选：在错误时执行其他操作
                //     }
                // });
            }
            function confirmDelete(deleteUrl) {
                var result = confirm("刪除後無法復原, 確定要刪除嗎？");

                if (result) {
                    // 如果用户点击了确认按钮，执行删除操作
                    location.href = deleteUrl;
                }
            }
        </script>
    }