@model List<Bookfortable.Models.CShoppingCartItem>
@using static List<Bookfortable.Models.CDiscountCodeViewModel>

@{
    ViewData["Title"] = "CartView";
    Layout = "_FrontLayout";
}
@section Styles {
    
    
    <style>
        #cart-titile{
            text-align:center;
        }

        #cart-titile p{
            color: lightgray;
            font-size:17px;
        }
        .b-part{
            letter-spacing:7px;
        }

        .b-tight{
            letter-spacing: -1px;
        }

        #cart-titile .URhere {
            color:dimgray;
            font-weight:bolder;
        }

        #item-section{
            margin-right:10%;
            margin-left: 10%;
        }

        .table {
            color: dimgray;
            text-align: center;
            vertical-align: middle;
            font-size: 15px;
        }

        .table th{
            letter-spacing: 0.5em;
        }

        .table td {
            vertical-align: middle;
            letter-spacing: 3.5px;
        }

        a:link{
            color:lightgray;
        }

        #CartDetails{
            width:1000px;
            margin:3px auto;
            padding:3px;
            line-height: 25px;
            text-align: right;
            vertical-align: middle;
        }

        form tr {
            margin-bottom: 100px;
        }

        .st1{
            display: flex;
            align-items: center;
            letter-spacing:0.35em;
            width:110px;
        }

        .st2{
            padding-top:100px;
            margin-bottom: 20px;
        }

        .st3 {
            display: flex;
            letter-spacing: 0.35em;
        }

        .text-avg {
            vertical-align: middle;
            letter-spacing: 1px;
            font-size:15px;
        }

        #CartDetails .text-avg{
            width:110px;
            height:25px;
            line-height:25px;
            font-weight:bold;
            text-align-last:justify;
            font-size:16px;            
        }

        .num-right {
            width:100px;
            height: 25px;
            line-height: 25px;
            text-align:right;
        }

        #simple-details{
            width: 1000px;
            margin: 3px auto;
            padding: 3px;
        }

        #CartDetails a {
            line-height: 25px;
            display: inline-block;
        }

        #DiscountTypeIn{
            width: 1000px;
            margin: 3px auto;
            padding: 3px;
        }

        .red{
            color:lightcoral;
            font-size:smaller;
            letter-spacing:2px;
        }

        .left{
            text-align: left
        }

        fieldset {
            width: 290px;
            margin: 50px;
            border: 1px solid #EAECEE;
            border-radius: 10px;
            padding-bottom:15px;
        }

        .formst1 {
            width: 220px;
            border-color: gray;
            margin: 35px;
            margin-top:10px;
            margin-bottom: 20px;
        }

        legend{
            font-size: 20px;
            display: flex;
            letter-spacing: 0.35em;
            margin-left:15px;
        }
    </style>
}
<br />
<br />
<div id="cart-titile">
    <p>
        <a class="b-part URhere">&emsp;購物車&emsp;</a>
        <a class="b-tight">―――――――――――――――――</a>
        <a class="b-part">&emsp;訂單資料&emsp;</a>
        <a class="b-tight">―――――――――――――――――</a>
        <a class="b-part">&emsp;訂單完成&emsp;</a>
    </p>
</div>
<br />
<br />
<div id="item-section">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <!--序號-->
                </th>
                <th colspan="2">
                    盲盒內容
                </th>
        
                <th>
                    <!--數量-->
                    @Html.DisplayNameFor(model => model[0].count)
                </th>
                <th>
                    <!--單價-->
                    @Html.DisplayNameFor(model => model[0].price)
                </th>
                <th>
                    <!--小計-->
                    @Html.DisplayNameFor(model => model[0].小計)
                </th>
                <th>
                    <!--修改數量&刪除-->
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                decimal pay = 0;
                decimal shipping = 100;
                decimal sum = 0;
                decimal dcprice = 0;
                foreach (var item in Model)
                {           
                    count++;
                    item.小計 = item.price * item.count;
                    pay += item.小計;
                    sum = pay;
                        <tr>
                            <td>
                                <!--序號-->
                                @count
                            </td>
                            <td>
                                <!--盲盒內容圖片欄-->
                                <img src="@Url.Content("~/images/Tempbox_img/TempBox_img.jpg")" width="135" height="135" />
                                <!-- @Html.DisplayFor(modelItem => item.product.BoxId) -->
                            </td>
                            <td>
                                <!--偏好兼修改-->
                                @Html.DisplayFor(modelItem => item.productType)
                                <br />
                                @Html.ActionLink("[修改偏好]", "Edit", new { /* id=item.PrimaryKey */ })
                            </td>
                            <td>
                                <!--數量與修改-->
                                <button class="btn btn-info btn-sm" onclick="decreaseCount(event)">-</button>
                                <span id="ProductAmount" name="ProductAmount">@Html.DisplayFor(modelItem => item.count)</span>
                                <button class="btn btn-info btn-sm" onclick="increaseCount(event)">+</button>
                            </td>
                            <td>
                                <!--單價-->
                                @Html.DisplayFor(modelItem => item.price)
                            </td>
                            <td>
                                <!--小計-->
                                <span class="singileitemsum" id="singileitemsum" name="singileitemsum">@Html.DisplayFor(modelItem => item.小計)</span>                                                                
                            </td>
                            <td>
                                <!--刪除-->
                                @*<!--<a href="@Url.Action("Deletebox")?id=@item.product.BoxId" class="btn btn-danger" onclick="return confirm('確定刪除?')">刪除</a>-->
                                <!--<button class="btn btn-info" onclick="confirmDelete('@Url.Action("Deletebox", new { })')"><i class="fas fa-trash"></i></button>-->
                                *@
                                <a asp-action="Deletebox" asp-controller="Shopping" asp-route-id="@item.productId" class="link-delete btn btn-danger" onclick="return confirm('確定要刪除嗎?')"><i class="fas fa-trash"></i></a>
                            </td>
                            <td>
                                <span id="BoxId" name="BoxId" style="display: none;">@Html.DisplayFor(modelItem => item.product.BoxId)</span>
                            </td>
                        </tr>
                }
            }
    </tbody>
    </table>
</div>
<div id="cart-titile">
    <button class="btn btn-info b-part" onclick="location.href='@Url.Action("GenerateBox")'">新增盲盒</button>
</div>
<br />
<form action="@Url.Action("Checkout", "OrderLists")" method="post" id="CartDetails">
    <div><label class="text-avg">總金額：</label><a class="num-right" id="OGprice" name="OGprice">@pay.ToString("###,###,##0")</a></div>
    <div><label class="text-avg">運費：</label><a class="num-right">@shipping.ToString("###,###,##0")</a></div>
    <div><label class="text-avg">運費折抵：</label><a class="num-right" style="color: lightcoral;">-@shipping.ToString("###,###,##0")</a></div>
    <div><label class="text-avg">折扣碼折抵：</label><a class="num-right" id="dcprice" name="dcprice" style="color: lightcoral;">@dcprice.ToString("###,###,##0")</a></div>
    <div class="b-tight">――――――――――――――</div>
    <div><label class="text-avg">結帳金額：</label><a class="num-right" id="checkoutAmount" name="checkoutAmount">@sum.ToString("###,###,##0")</a></div>
    <div class="red">會員紅利: 000 點</div>
    <div id="DiscountTypeIn">
        <input type="text" id="discountcode" name="txtDiscountCode" size="20" autofocus placeholder="大小寫需相同" autocomplete="off">
        <input type="button" class="btn btn-info btn-sm" value="套用折扣碼" onclick="applyDiscount()" />
        <p class="red" id="SpApplyDiscount"></p>
    </div>
    <div id="simple-details" class="row">
        <fieldset class="col">
            <legend>購買人基本資料</legend>
            <div class="formst1">
                <label class="st1" for="CustomerName" id="CustomerName" name="CustomerName">姓名</label>
                <input class="form-control" type="text" id="CustomerName" name="CustomerName" required />
            </div>
            <div class="formst1">
                <label class="st1" for="CustomerPhone" id="CustomerPhone" name="CustomerPhone">電話</label>
                <input class="form-control" type="text" id="CustomerPhone" name="CustomerPhone" required />
            </div>
            <div class="formst1">
                <label class="st1" for="CustomerEmail" id="CustomerEmail" name="CustomerEmail">電郵</label>
                <input class="form-control" type="email" id="CustomerEmail" name="CustomerEmail" required />
            </div>
        </fieldset>
        <table style="margin:50px;" class="col">
            <tr>
                <td>&emsp;&emsp;&emsp;&emsp;</td>
            </tr>
            <tr>
                <td>
                    <label class="st1" for="deliveryArea">配送地區</label>
                </td>
                <td>
                    <select class="form-select form-select-sm" id="deliveryArea" name="deliveryArea" required>
                        <option selected>請選擇配送地區</option>
                        <option value="臺灣本島">臺灣本島</option>
                        <option value="臺灣離島">臺灣離島</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>&emsp;&emsp;&emsp;&emsp;</td>
            </tr>
            <tr>
                <td>
                    <label class="st1" for="deliveryWay">配送方式</label>
                </td>
                <td>
                    <select class="form-select form-select-sm" id="deliveryWay" name="deliveryWay">
                    </select>
                </td>
            </tr>
            <tr>
                <td>&emsp;&emsp;&emsp;&emsp;</td>
            </tr>
            <tr>
                <td>
                    <label class="st1" for="howtopay">付款方式</label>
                </td>
                <td class="left">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="howtopay" id="howtopay" value="信用卡" checked>
                        <label class="form-check-label" for="howtopay">
                            信用卡
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="howtopay" id="howtopay" value="ATM轉帳">
                        <label class="form-check-label" for="howtopay">
                            ATM轉帳
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="howtopay" id="howtopay" value="賴配">
                        <label class="form-check-label" for="howtopay">
                            LINE PAY
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="howtopay" id="howtopay" value="取貨付款">
                        <label class="form-check-label" for="howtopay">
                            7-11取貨付款
                        </label>
                    </div>
                </td>
            </tr>
            
        </table>
    </div>
    <div id="cart-titile"> <input type="submit" value="確認訂單" class="btn btn-info btn-lg b-part" /></div>
   
    <input type="hidden" id="resultPrice" name="resultPrice" value="@dcprice" />
    <input type="hidden" id="OGprice" name="OGprice" value="@pay" />
    <input type="hidden" id="sum" name="sum" value="@sum" />
    <input type="hidden" id="shipping" name="shipping" value="@shipping" />
</form>
<br />
    

}

@section scripts {
    <script src="https://kit.fontawesome.com/6da9884828.js" crossorigin="anonymous"></script>
        //商品數量的修正
    <script>
        
        function updateCartItem(boxid, newCount, newSubtotal) {
            // 使用 AJAX 发送更新请求到服务器
            $.ajax({
                type: "POST",
                url: "/Shopping/UpdateCartItem",
                data: { boxid: boxid, newCount: newCount, newSubtotal: newSubtotal },
                success: function (data) {
                    // 成功后的处理（可选）
                    console.log("Item updated successfully");
                },
                error: function (error) {
                    // 处理错误（可选）
                    console.error("Error updating item");
                }
            });
        }
        //數量的修正
        function increaseCount(event) {
            
            //根據此筆的數量 * 價格得到小計
            //更新總計
            //更新資料庫的購買數量
            const btn = $(event.target);
            const row = btn.parents('tr');
            const spnQty = row.find('td:nth-child(4)').find('span');
            console.log("這是BOXID!!!!!!!!!!!!!!!!!", row.find('td:nth-child(8)').text());
            const currentboxid = row.find('td:nth-child(8)').text();

            let qty = spnQty.text();  //數量
            const price = row.find('td:nth-child(5)').text(); //單價

            qty = parseInt(qty) + 1; //點擊加號加一個數量

            const Pay = $('#OGprice');//抓出總金額
            const PreUpdateAmount = 0;
            Pay.text(PreUpdateAmount.toLocaleString());//計算前先把總金額歸零

            const SingleItemSum = $('.singileitemsum');
            const SingleItemSumVal = row.find('td:nth-child(6)');//小計
            console.log(row.find('td:nth-child(6)').text())
            const updateSingleItemSumVal = SingleItemSumVal.html(`<span class="singileitemsum"> ${qty * price} </span>`);
            updateSingleItemSumVal;//更新小計
            updateQty=spnQty.text(qty);
            updateQty;//更新數量
            updatecount = row.find('td:nth-child(6)').text();
            console.log("我需要這個更新的數量!!!!!!!!", qty);
            console.log("我需要這個更新的小計!!!!!!!!", updatecount);

            var total = 0;
            
            $('tr').each(function () {
                total += Number($(this).find(".singileitemsum").text())
            })
            Pay.text(total);
            $('OGprice').attr('value', total);
            const sum = $('#checkoutAmount')
            const discountprice = $('#dcprice');
            const discountpriceVal = discountprice.text().replace('-', '');
            
            sum.text(total - discountpriceVal);
            
            $('#sum').attr('value', total - discountpriceVal);
            $('#resultPrice').attr('value', discountpriceVal);
            console.log("這邊還是在算總計", sum)
            total = 0;

            var boxid = currentboxid;
            updateCartItem(boxid, qty, updatecount);
                
        }

            // JavaScript function to decrement count
            function decreaseCount(event) {
                
                //根據此筆的數量 * 價格得到小計
                //更新總計
                //更新資料庫的購買數量
                const btn = $(event.target);
                const row = btn.parents('tr');
                const spnQty = row.find('td:nth-child(4)').find('span');
                const currentboxid = row.find('td:nth-child(8)').text(); //取得當前box的id

                let qty = spnQty.text();  //數量
                const price = row.find('td:nth-child(5)').text(); //單價

                qty = parseInt(qty) - 1; //點擊加號加一個數量

                const Pay = $('#OGprice');//抓出總金額
                const PreUpdateAmount = 0;
                Pay.text(PreUpdateAmount.toLocaleString());//計算前先把總金額歸零

                const SingleItemSum = $('.singileitemsum');
                const SingleItemSumVal = row.find('td:nth-child(6)');//小計
                const updateSingleItemSumVal = SingleItemSumVal.html(`<span class="singileitemsum"> ${qty * price} </span>`);
                updateSingleItemSumVal;//更新小計

                updateQty = spnQty.text(qty);
                updateQty;//更新數量
                updatecount = row.find('td:nth-child(6)').text(); //取得更新過後數量的值

                var total = 0;

                $('tr').each(function () {
                total += Number($(this).find(".singileitemsum").text())
                })
                Pay.text(total);
                const sum = $('#checkoutAmount')
                const discountprice = $('#dcprice');
                const discountpriceVal = discountprice.text().replace('-', '');
                sum.text(Number(total - discountpriceVal));
                $('#sum').attr('value', total - discountpriceVal);
                $('#resultPrice').attr('value', discountpriceVal);
                total = 0;

                var boxid = currentboxid;
                updateCartItem(boxid, qty, updatecount);
            }

            
            function confirmDelete(deleteUrl) {
                var result = confirm("刪除後無法復原, 確定要刪除嗎？");

                if (result) {
                    // 如果用户点击了确认按钮，执行删除操作
                    location.href = deleteUrl;
                }
            }
        </script>

    <script>
        //配送方法下拉選單連動
        const deliveies = { "臺灣本島": ["宅配", "7-11純取貨", "7-11取貨付款", "郵局i郵箱"], "臺灣離島": ["宅配", "7-11純取貨", "郵局i郵箱"] };
        let dvway = $("#deliveryWay");
        console.log("這是你要的陣列", deliveies);
        //dvway.empty();

        $(document).ready(function () {
            $('#deliveryArea').on('change', (event) => {
                const selectedArea = $(event.target).val();
                console.log("Selected Area:", selectedArea);
                const way = deliveies[$(event.target).val()];
                console.log("Selected way:", way);
                dvway.empty();
                dvway.append(`<option selected>請選擇配送方式</option>`)

                way.forEach((item) => {
                    dvway.append(`<option value="${item}">${item}</option>`)
                    if (selectedArea === "臺灣離島") {
                        $('input[value="7-11取貨付款"]').prop('disabled', true);
                    } else if (selectedArea === "臺灣本島") {
                        $('input[value="7-11取貨付款"]').prop('disabled', false);
                    } 
                    // console.log(item)
                })
                dvway.niceSelect('update')
                $('#deliveryWay').on('change', (even) => {
                    const selectedway = $('#deliveryWay').val();
                    console.log("這是目前選擇的配送方式", selectedway)
                    if (selectedway === "宅配") {
                        $('input[value="信用卡"]').prop('disabled', false);
                        $('input[value="ATM轉帳"]').prop('disabled', false);
                        $('input[value="LINE PAY"]').prop('disabled', false);
                        $('input[value="7-11取貨付款"]').prop('disabled', true);
                    } else if (selectedway === "7-11取貨付款") {
                        $('input[value="信用卡"]').prop('disabled', true);
                        $('input[value="ATM轉帳"]').prop('disabled', true);
                        $('input[value="LINE PAY"]').prop('disabled', true);
                        $('input[value="7-11取貨付款"]').prop('disabled', false);
                    } else if (selectedway === "郵局i郵箱") {
                        $('input[value="信用卡"]').prop('disabled', false);
                        $('input[value="ATM轉帳"]').prop('disabled', false);
                        $('input[value="LINE PAY"]').prop('disabled', false);
                        $('input[value="7-11取貨付款"]').prop('disabled', true);
                    } else if (selectedway === "7-11純取貨") {
                        $('input[value="信用卡"]').prop('disabled', false);
                        $('input[value="ATM轉帳"]').prop('disabled', false);
                        $('input[value="LINE PAY"]').prop('disabled', false);
                        $('input[value="7-11取貨付款"]').prop('disabled', true);
                    }
                    else {
                        $('input[value="信用卡"]').prop('disabled', false);
                        $('input[value="ATM轉帳"]').prop('disabled', false);
                        $('input[value="LINE PAY"]').prop('disabled', false);
                        $('input[value="7-11取貨付款"]').prop('disabled', false);
                    }
                })
            })
            
        });
    </script>

    <script>
        //套用折扣碼
        function applyDiscount() {
            let discountCode = document.getElementById("discountcode").value;
            let spapdc = document.getElementById("SpApplyDiscount");

            if (discountcode === "") {
                spapdc.innerHTML = "尚未輸入折扣碼"
            } else {
                //ajax
                $.ajax({
                    url: '@Url.Action("ApplyDiscount", "Shopping")',
                    type: 'POST',
                    contentType: 'application/json',  // Explicitly set the content type to JSON
                    data: JSON.stringify({ txtDiscountCode: discountCode }),
                    success: function (result) {
                        if (result !== "0") {
                            const resultPrice = parseFloat(result).toFixed(0);
                            $('#resultPrice').attr('value', resultPrice);
                            spapdc.innerHTML = `有效折扣碼，折扣金額為 ${resultPrice}`//套用折扣碼下方的文字
                            $('#dcprice').text(`-${resultPrice}`);//計算金額方塊中的折扣碼
                            //計算前先把總金額歸零
                            const OGprice = $('#OGprice');
                            const OGpriceVal = parseFloat(OGprice.text().replace(',', ''));
                            console.log(Number(OGpriceVal - resultPrice));
                            const total = $('#checkoutAmount').text(Number(OGpriceVal - resultPrice)).toLocaleString;
                            $('#sum').attr('value', OGpriceVal - resultPrice);
                            
                            


                        } else {
                            // console.log(isValidDiscount);
                            spapdc.innerHTML = "輸入錯誤 / 折扣碼過期"
                        }
                    },
                    error: function () {
                        // 处理错误情况
                        console.log("Error applying discount.");
                    }
                });
                
            }
        }
    </script>
    }