@model IEnumerable<bookfortable.Models.Event>
 @{
        Layout = "_FrontLayout";
 }
<link rel="stylesheet" href="~/css/Eventindex.css" type="text/css" />


<!DOCTYPE html>
<html lang="en">



<head>
    <div class="eventHeader">
        @* <h1 class="title">書服 - 您的閱讀夥伴</h1> *@
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Eventfront")">首頁</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("List", "Eventfront")">活動列表</a>
            </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("ContactUs", "Eventfront")">聯絡我們</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("AboutUs", "Eventfront")">關於我們</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Fans", "Eventfront")">月月寵粉</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Donate", "Eventfront")">公益捐書</a>
            </li>
        </ul>
    </div>
    </head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>線上書店企業理念</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">


    <section class="section-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">線上書店企業理念</h2>
                    <h3 class="section-subheading text-muted">探索閱讀的無限可能</h3>
                   
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-item">
                        <span class="fa fa-lightbulb-o" aria-hidden="true"></span>
                        <h4 class="text-uppercase">創新</h4>
                        <p class="text-muted">我們致力於不斷創新，為讀者提供最優質的閱讀體驗。我們擁有一支經驗豐富的開發團隊，不斷探索新的技術和方法，以提高閱讀的效率和趣味性。</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-item">
                        <span class="fa fa-book" aria-hidden="true"></span>
                        <h4 class="text-uppercase">閱讀文化</h4>
                        <p class="text-muted">我們相信閱讀是人類文明的基石，我們致力於推廣閱讀文化，讓每個人都能享受閱讀的樂趣。我們提供豐富的閱讀資源，涵蓋各種主題和類別，滿足不同讀者的需求。</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-item">
                        <span class="fa fa-rocket" aria-hidden="true"></span>
                        <h4 class="text-uppercase">未來</h4>
                        <p class="text-muted">我們展望未來，致力於成為全球領先的線上書店。我們將不斷擴充我們的服務範圍，為讀者提供更多元化的閱讀選擇。我們也將積極參與閱讀推廣活動，為社會做出貢獻。</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-item">
                        <span class="fa fa-headphones" aria-hidden="true"></span>
                        <h4 class="text-uppercase">服務</h4>
                        <p class="text-muted">我們以客戶為中心，提供優質的售前和售後服務。我們擁有一支專業的客服團隊，隨時為您解答疑問，提供售後保障。我們也提供多種支付和配送方式，方便您購買書籍。</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/jquery@4.6.2/dist/jquery.slim.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".fa").addClass("fa-lg");
        });

        function playAnimation() {
            // 取得所有要播放动画的元素
            const elements = document.querySelectorAll('.section-heading, .section-subheading');

            // 遍历所有元素，设置动画为运行状态
            elements.forEach(function (element) {
                element.style.animationPlayState = 'running';
            });

            // 动画结束后，设置动画为暂停状态 (可根据需要设置延迟)
            setTimeout(function () {
                elements.forEach(function (element) {
                    element.style.animationPlayState = 'paused';
                    element.style.animationFillMode = 'none'; /* 改為 none 避免停駐在右側 */
                });
            }, 2000);
        }
    </script>

