@model IEnumerable<bookfortable.ViewModels.SignUpViewModel>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                活動名稱
            </th>
            <th>
                活動日期
            </th>
            <th>
                活動地點
            </th>
            <th>
                活動承辦人
            </th>
            <th>
                活動類型
            </th>
            <th>
                報名會員
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SingUp.EventName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SingUp.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SingUp.EventAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SingUp.Eventhost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SingUp.EventType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.EventId">取消報名</a>
                </td>
            </tr>
        }
    </tbody>
</table>
